{% extends 'base.html.twig' %}

{% block title %}Paiement par virement instantané{% endblock %}

{% block body %}
<div class="container my-5  text-center">
    <!-- From Uiverse.io by mobinkakei -->
    <div class="bouncing-balls-container" role="status" aria-live="polite">
        <div class="bouncing-ball" aria-hidden="true"></div>
        <div class="bouncing-ball" aria-hidden="true"></div>
        <div class="bouncing-ball" aria-hidden="true"></div>
        <div class="bouncing-ball-shadow" aria-hidden="true"></div>
        <div class="bouncing-ball-shadow" aria-hidden="true"></div>
        <div class="bouncing-ball-shadow" aria-hidden="true"></div>
    </div>

    <h1 class="mt-4">PEINTURES AUTO PROS GROS</h1>
    <h2 class="mt-4">RIB : FR76 3000 4008 9900 0100 9928 065</h2>
    <h2 class="mt-4">BIC : BNPAFRPPXXX</h2>

    <p class="lead" style="background-color: aliceblue; font-weight: 400;">Veuillez effectuer le paiement total de la commande par <b>virement instantané</b>, puis attendre la confirmation de notre équipe. Une fois votre paiement validé, vous recevrez un e-mail de confirmation.</p>

    <a href="{{ path('app_account_order', { 'id_order' : order.id } ) }}" class="btn btn-success mt-3">Consulter ma commande</a>
</div>
{% endblock %}
