{% extends 'base.html.twig' %}

{% block body %}
<style>
    /* Style général pour les cartes produit */
    .cart-product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border:none !important;
        border-bottom: 1px solid #eaeaea;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
    }

    /* Style des images */
    .cart-product img {
        max-width: 120px;
        max-height:120px;
        object-fit: cover;
        border-radius: 5px;
    }

    /* Style des informations produit */
    .cart-product-info {
        flex-grow: 1;
        margin-left: 10px;
    }

    .cart-product-info strong {
        font-size: 16px;
        color: #333;
    }

    .cart-product-info .small {
        font-size: 12px;
        color: #666;
    }

    /* Alignement des actions */
    .cart-product-actions {
        text-align: right;
    }

    .cart-product-actions .btn {
        font-size: 14px;
    }

    /* Adaptation mobile */
    @media (max-width: 768px) {
        .cart-product {
            flex-direction: column;
            align-items: flex-start;
        }

        .cart-product img {
            margin-bottom: 10px;
        }

        .cart-product-actions {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }
    }
</style>

<div class="container my-5">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block xl:inline" style="color:#6c63ff;">Mon panier</span>
          </h1>


    <div class="row">
        <div class="col-md-8">
     {# Code barre #}
               <div class="personalized-form-container mb-2">
                    <input id="barcode-input" class="personalized-text-field personalized-text-field-highlight" placeholder="Cliquez ici pour scanner le code-barres" required type="text" autofocus>
                    <span class="personalized-border-line personalized-border-line-highlight"></span>
                </div>
            {% if cart is defined and cart is not empty %}
                {% for product in cart %}
                   <div class="cart-product">
                        <div class="cart-product-image">
                            <img src="/uploads/{{ product.produit.illustration }}" alt="{{ product.produit.name }}">
                        </div>
                        <div class="cart-product-info">
                            <strong>{{ product.produit.name }}<br>Réf: {{ product.produit.articleCode }}</strong>
                            <span class="d-block small">
                                Prix unitaire : 
                                {{ cartData.calculatePriceForCartItem(product) is not null and cartData.calculatePriceForCartItem(product) > 0 ? cartData.calculatePriceForCartItem(product) : product.produit.priceU|price }}
                            </span>
                        </div>
                        <div class="cart-product-actions">
                            <div class="input-group" style="width: 140px;">
                                <a href="{{ path('app_cart_decrease', { id: product.produit.id }) }}" data-turbo="false" class="btn btn-outline-secondary {{ product.qte == 0 ? 'disabled' }}">-</a>
                                <input type="number" min="1" step="1" value="{{ product.qte }}" class="form-control text-center" id="productQuantity-{{ product.produit.id }}" onchange="updateQuantity({{ product.produit.id }})">
                                <a href="{{ path('app_cart_add', { id: product.produit.id }) }}" data-turbo="false" class="btn btn-outline-secondary">+</a>
                            </div>
                            <strong class="cart-prix-total">
                                {{ (product.qte * (cartData.calculatePriceForCartItem(product) is not null and cartData.calculatePriceForCartItem(product) > 0 ? cartData.calculatePriceForCartItem(product) : product.produit.priceU))|price }}
                            </strong>
                        </div>
                    </div>
                {% endfor %}
                    {# <a href="{{ path('app_cart_remove') }}" 
                    class="small d-block mt-3 text-decoration-none text-danger" 
                    onclick="return confirm('Êtes-vous sûr de vouloir vider le panier ?');" 
                    style="display: flex; align-items: center; gap: 0.5em;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"/>
                        </svg>
                        <span>Vider le panier</span>
                    </a> #}
                <a href="{{path('app_cart_vider') }}" onclick="return confirm('Êtes-vous sûr de vouloir vider le panier ?');" data-turbo="false" class="btn btn-secondary w-20 mt-3" style="border-raduis:50%;">
                 <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"/>
                </svg>
                Vider le panier</a>

            {% else %}
           <div class="items-center">
                <img src="{{asset('assets/img/panierVide.png')}}" alt="Panier Vide">
                <p>Vous n'avez ajouté aucun produit à votre panier.</p>
            </div>

            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="bg-light p-3">
                <div class="d-flex justify-content-between">
                    <span class="fw-bold">Total produit</span>
                    <span>{{ fullCartQuantity }}</span>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <span class="fw-bold">Prix total H.T</span>
                    <span>{{ totalWt|price }}</span>
                </div>
                <div>
                    <a href="{{ path('app_order') }}" class="btn btn-success w-100 mt-3">Commander</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function updateQuantity(productId) {
        const quantity = document.getElementById(`productQuantity-${productId}`).value;
        if (quantity <= 0) {
            alert('La quantité doit être au moins égale à 1.');
            return;
        }
        fetch(`{{ path('app_cart_addQte', { id: 'PRODUCT_ID', qte: 'QTY' }) }}`
            .replace('PRODUCT_ID', productId)
            .replace('QTY', quantity))
        .then(response => {
            if (!response.ok) {
                throw new Error('Erreur lors de la mise à jour.');
            }
            window.location.reload();
        })
        .catch(error => alert(error));
    }
</script>

<script>
    // JavaScript pour capturer l'entrée de l'utilisateur et appeler la route
    document.getElementById('barcode-input').addEventListener('input', function(event) {
        const inputField = event.target;
        const barcode = inputField.value.trim();

        if (barcode) {
            fetch(`/cart/addCode/${barcode}`, {
                method: 'GET', // Ajustez selon votre besoin (GET, POST, etc.)
            })
            .then(response => {
                if (response.ok) {
                    inputField.value = ''; // Réinitialise le champ
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error('Erreur réseau :', error);
                alert('Impossible de communiquer avec le serveur.');
            });
        }
    });
</script>
{% endblock %}
