{% extends 'base.html.twig' %}

{% block title %}Votre recherche{% endblock %}

{% block body %}
<div class="columns-container mt-2">
    <div class="container" id="columns">
        <nav id="breadcrumb" style="--bs-breadcrumb-divider: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%278%27 height=%278%27%3E%3Cpath d=%27M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z%27 fill=%276c757d%27/%3E%3C/svg%3E');" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href={{path('app_home')}}> Peinture Auto Expert Pro</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rechercher</li>
            </ol>
        </nav>
        <div class="row">
            <!-- col 2 -->
            <div class="center_column col-xs-12 col-sm-9 col-sm-push-3" id="center_column">
                <div class="content_scene_cat mb-4">
                    <h1 class="category-name page-heading">Résultats de votre recherche</h1>
                </div>
                <hr>
                <div class="content_sortPagiBar">
                    Trier par prix 
                </div>
                <hr>
                <!-- liste produit -->
                <div class="row product_list">
                    {% for product in result %}
                      <div class="col-6 col-md-4 col-lg-3 mb-3 ">
                            <div class="card h-100 cadreSearch">
                                <div class="image-container">
                                     {% if product.products|first and product.products|first.slug %}
                                    <a class="product_img_link" href="{{ path('app_product', { slug: product.products|first.slug }) }}" class="text-decoration-none" title="test">
                                        <img class="replace-2x img-responsive w-100" src="/uploads/{{ product.products|first.illustration }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                        <span class="text-muted">Produit non disponible</span>
                                    {% endif %}
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">
                                        {% if product.products|first  and not is_granted('ROLE_MANAGER')%}
                                            {{ product.products|first.priceU | price }} HT
                                        {% else %}
                                            ****€ HT
                                        {% endif %}
                                    </h5>
                                    <p class="card-text">{{ product.name }}</p>
                                    <p class="card-text text-muted">{{ product.category }}</p>
                                </div>
                            </div>
                        </div>
                    {# --------------------------------------------------------------- #}
                    {# <div class="col-6 col-md-4 col-lg-3 mb-3 cadreSearch">
                        <div class="product-container">
                            <div class="product-image-container">
                                {% if product.products|first and product.products|first.slug %}
                                    <a class="product_img_link" href="{{ path('app_product', { slug: product.products|first.slug }) }}" class="text-decoration-none" title="test">
                                        <img class="replace-2x img-responsive w-100" src="/uploads/{{ product.products|first.illustration }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <span class="text-muted">Produit non disponible</span>
                                {% endif %}
                            </div>
                            <div class="product-details mt-2">
                                {% if product.products|first and product.products|first.slug %}
                                    <h2 class="product-name">
                                        <a href="{{ path('app_product', { slug: product.products|first.slug }) }}" class="text-decoration-none">
                                            {{ product.name }}
                                        </a>
                                    </h2>
                                {% else %}
                                    <span class="text-muted">Produit non disponible</span>
                                {% endif %}
                                <p class="product-desc">{{ product.description|raw }}</p>
                                <p class="product-link">
                                    <a href="{{ path('app_category', {'slug': product.category.slug}) }}">{{ product.category }}</a> | 
                                    <a href="#">{{ product.brand }}</a>
                                </p>
                                <div class="content_price">
                                    <span class="price product-price">
                                        {% if product.products|first %}
                                            {{ product.products|first.priceU | price }} HT
                                        {% else %}
                                            Prix non disponible
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="button-container mt-2">
                                    {% if product.products|first and product.products|first.slug %}
                                        <a href="{{ path('app_product', { slug: product.products|first.slug }) }}" class="text-decoration-none">
                                            <button type="button" class="btn btn-primary" id="btn-update-brand">Voir le produit</button>
                                        </a>
                                    {% else %}
                                        <span class="text-muted">Produit non disponible</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div> #}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
