<ul class="nav flex-column bg-light-blue listCategories" >
 {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin') }}">Administration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Crée un nouveau magasin</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('app_update_order') }}">Modifier une commande</a>
        </li>

 {% else %}

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account') }}">Mes commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_historique') }}">Historique</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_chart') }}">Mes statistiques</a>
    </li>
    {# <li class="nav-item">
        <a class="nav-link" href="{{ path('app_docs_user') }}">Mes documents</a>
    </li> #}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_addresses') }}">Mes adresses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_wishlist') }}">Mes favoris</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_modify_pwd') }}">Modifier mon mot de passe</a>
    </li>

 {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_contrat') }}">Contrats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
    </li>
</ul>