{% extends 'base.html.twig' %}

{% block body %}
<style>
.card {
    border-radius: 10px;
    border: 1px solid #ddd;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.list-group-item {
    font-size: 1em;
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #f4f4f4;
}

.chart-container canvas {
    display: block;
    margin: 0 auto;
}

</style>
    <div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>

            <div class="col-md-9">
                    <div class="row ">
                        <!-- Section du graphique -->
                        <div class="col-md-6">
                            <div class="card shadow-sm mb-4">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Répartition des Bons de Livraison</h5>
                                    <div class="chart-container" style="position: relative; height:300px;">
                                        <canvas id="plafondChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Section des informations résumées -->
                        <div class="col-md-6">
                            <div class="card shadow-sm mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Résumé du Plafond</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <strong>Plafond accordé :</strong> {{ plafond|price  }} 
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Total des bons de livraison impayés :</strong> <br>{{ total|price  }}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Montant disponible :</strong> {{ (plafond - total)|price  }} 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                <h5 class="order-titre">Mes dernières commandes</h5>
                {% if orders|length == 0 %}
                    <div class="alert alert-info">
                        Vous n'avez passé aucune commande pour le moment.
                    </div>
                {% else %}
                <table class="table ">
                    <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Date</th>
                        <th scope="col " class="nonAffiche">Statut</th>
                        <th scope="col">Paiement</th>
                        <th scope="col">Total T.T.C</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.createdAt|date('d/m/Y') }}</td>
                            <td class="nonAffiche" >{{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }}</td>
                            <td>{{ include('admin/statePay.html.twig', { field : { 'value' : order.statePay } } ) }}</td>
                            <td>{{ order.totalWt|price }}</td>
                            <td><a href="{{ path('app_account_order', { 'id_order' : order.id } ) }}"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor"><path d="M20.46 17.515c.36.416.54.624.54.985s-.18.57-.54.985C19.56 20.52 17.937 22 16 22s-3.561-1.48-4.46-2.515c-.36-.416-.54-.623-.54-.985c0-.361.18-.57.54-.985C12.44 16.48 14.063 15 16 15s3.561 1.48 4.46 2.515"/><path d="M20 13.003V7.82c0-1.694 0-2.54-.268-3.217c-.43-1.087-1.342-1.945-2.497-2.35C16.517 2 15.617 2 13.818 2c-3.148 0-4.722 0-5.98.441c-2.02.71-3.615 2.211-4.37 4.114C3 7.74 3 9.221 3 12.185v2.546c0 3.07 0 4.605.848 5.672c.243.305.53.576.855.805c.912.643 2.147.768 4.297.792"/><path d="M3 12a3.333 3.333 0 0 1 3.333-3.333c.666 0 1.451.116 2.098-.057A1.67 1.67 0 0 0 9.61 7.43c.173-.647.057-1.432.057-2.098A3.333 3.333 0 0 1 13 2m2.992 16.5h.01"/></g></svg></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
<script>
        // Données du graphique transmises depuis le contrôleur
        const data = {{ data|json_encode|raw }};

        // Initialisation du graphique Chart.js
        const ctx = document.getElementById('plafondChart').getContext('2d');
        new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true,
                        position: 'top',
                    },
                },
            },
        });
    </script>
{% endblock %}
