{% extends 'base.html.twig' %}

{% block title %}Commander un produit{% endblock %}

{% block body %}


    <div class="container my-5">
        <h1>Commander un produit du catalogue</h1>
    <div class="row">
        <div class="col-6 col-md-3 bloc-fix" style="margin-top:40px;">
                  <div class="block-fixe">
                 <small><a href="#" class="btn btn-light btn-sm" id="bouton-return">Tous les catalogue</a></small>
                {% include 'compoments/_menuPdfBrands.html.twig' %}
              </div>
        </div>
    <div class="col-md-9">
        {# file d'ariane #}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb" >
                                <li class="breadcrumb-item"><a href={{path('app_home')}}>Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Commande un produit du catalogue</li>
                            </ol>
        </nav>
        {# end file d'ariane #}

        {# Start form #}

        {{ form_start(orderBycatalogue) }}
        
        <div class="form-group mb-2">
            <label class="mb-2" for="{{ orderBycatalogue.brands.vars.id }}">
                 Choisissez la marque du produit <svg data-bs-toggle="modal" data-bs-target="#exampleModal" height="20px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 191.812 191.812" xml:space="preserve" fill="#4f4f4f" stroke="#4f4f4f"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:#919186;" d="M95.906,121.003c6.903,0,12.5-5.597,12.5-12.5V51.511c0-6.904-5.597-12.5-12.5-12.5 s-12.5,5.596-12.5,12.5v56.993C83.406,115.407,89.003,121.003,95.906,121.003z"></path> <path style="fill:#919186;" d="M95.909,127.807c-3.29,0-6.521,1.33-8.841,3.66c-2.329,2.32-3.659,5.54-3.659,8.83 s1.33,6.52,3.659,8.84c2.32,2.33,5.551,3.66,8.841,3.66s6.51-1.33,8.84-3.66c2.319-2.32,3.66-5.55,3.66-8.84s-1.341-6.51-3.66-8.83 C102.419,129.137,99.199,127.807,95.909,127.807z"></path> <path style="fill:#919186;" d="M95.906,0C43.024,0,0,43.023,0,95.906s43.023,95.906,95.906,95.906s95.905-43.023,95.905-95.906 S148.789,0,95.906,0z M95.906,176.812C51.294,176.812,15,140.518,15,95.906S51.294,15,95.906,15 c44.611,0,80.905,36.294,80.905,80.906S140.518,176.812,95.906,176.812z"></path> </g> </g></svg>
            </label>
            {{ form_widget(orderBycatalogue.brands) }}
        </div>
        
        <div class="form-group mb-2">
            <label  class="mb-2" for="{{ orderBycatalogue.name.vars.id }}">
                <i class="fas fa-box-open"></i> Nom du produit <svg data-bs-toggle="modal" data-bs-target="#Modal2" height="20px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 191.812 191.812" xml:space="preserve" fill="#4f4f4f" stroke="#4f4f4f"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:#919186;" d="M95.906,121.003c6.903,0,12.5-5.597,12.5-12.5V51.511c0-6.904-5.597-12.5-12.5-12.5 s-12.5,5.596-12.5,12.5v56.993C83.406,115.407,89.003,121.003,95.906,121.003z"></path> <path style="fill:#919186;" d="M95.909,127.807c-3.29,0-6.521,1.33-8.841,3.66c-2.329,2.32-3.659,5.54-3.659,8.83 s1.33,6.52,3.659,8.84c2.32,2.33,5.551,3.66,8.841,3.66s6.51-1.33,8.84-3.66c2.319-2.32,3.66-5.55,3.66-8.84s-1.341-6.51-3.66-8.83 C102.419,129.137,99.199,127.807,95.909,127.807z"></path> <path style="fill:#919186;" d="M95.906,0C43.024,0,0,43.023,0,95.906s43.023,95.906,95.906,95.906s95.905-43.023,95.905-95.906 S148.789,0,95.906,0z M95.906,176.812C51.294,176.812,15,140.518,15,95.906S51.294,15,95.906,15 c44.611,0,80.905,36.294,80.905,80.906S140.518,176.812,95.906,176.812z"></path> </g> </g></svg>
            </label>
            {{ form_widget(orderBycatalogue.name) }}
        </div>
        
        <div class="form-group mb-2">
            <label  class="mb-2" for="{{ orderBycatalogue.codeArticle.vars.id }}">
                <i class="fas fa-barcode"></i> Référénce produit <svg data-bs-toggle="modal" data-bs-target="#Modal3" height="20px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 191.812 191.812" xml:space="preserve" fill="#4f4f4f" stroke="#4f4f4f"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:#919186;" d="M95.906,121.003c6.903,0,12.5-5.597,12.5-12.5V51.511c0-6.904-5.597-12.5-12.5-12.5 s-12.5,5.596-12.5,12.5v56.993C83.406,115.407,89.003,121.003,95.906,121.003z"></path> <path style="fill:#919186;" d="M95.909,127.807c-3.29,0-6.521,1.33-8.841,3.66c-2.329,2.32-3.659,5.54-3.659,8.83 s1.33,6.52,3.659,8.84c2.32,2.33,5.551,3.66,8.841,3.66s6.51-1.33,8.84-3.66c2.319-2.32,3.66-5.55,3.66-8.84s-1.341-6.51-3.66-8.83 C102.419,129.137,99.199,127.807,95.909,127.807z"></path> <path style="fill:#919186;" d="M95.906,0C43.024,0,0,43.023,0,95.906s43.023,95.906,95.906,95.906s95.905-43.023,95.905-95.906 S148.789,0,95.906,0z M95.906,176.812C51.294,176.812,15,140.518,15,95.906S51.294,15,95.906,15 c44.611,0,80.905,36.294,80.905,80.906S140.518,176.812,95.906,176.812z"></path> </g> </g></svg>
            </label>
            {{ form_widget(orderBycatalogue.codeArticle) }}
        </div>
        
        
        {{ form_end(orderBycatalogue) }}
        {# end form #}
    </div>

{% include 'compoments/_questionTemporary.html.twig' %}
   
</div>
</div>
{% endblock %}
