{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}



{% block body %}
<main>
{# BLOCK CAROUSEL START  #}
  {% include './designeFull/_carousel.html.twig'%}
{# END BLOCK CAROUSEL #}

{# BLOCK CADR PRODUIT #}
{# <div class="container mt-5">
      <div  class="row">
              {% for category in parentCategories %}
                  <div class="col-sm-4">
                      <div class="home-container">
                          <div class="home-top">
                              <div class="home-title">
                                  <img src='/uploads/{{ category.icon }}' alt="Peinture Voiture & Industrie" class="cart-icon img-fluid">
                                  <h2>
                                      <a href="{{ path('app_category', {'slug': category.slug}) }}">
                                          {{ category.name }}
                                      </a>
                                  </h2>
                              </div>
                              <div class="home-txt">
                                  {{ category.description | raw }}
                              </div>
                          </div>
                          <div class="home-body">
                              <div class="home-body-img"><img src='/uploads/{{ category.illustrationTwo }}'></div>
                              <div class='home-body-text'>
                                  <ul>
                                      {% for filsCategory in allCategory %}
                                          {% if category.name == filsCategory.parentId %}
                                              <li><a href="{{ path('app_category', {'slug': filsCategory.slug}) }}">{{filsCategory.name}}</a></li>
                                          {% endif %}
                                      {% endfor %}
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
      </div>
</div> #}
{# FIN BLOCK CADR PRODUIT #}

{# Block  Brands #}
 
        <div class="container-out mb-5">
          <div class="container mb-5">

                  <div class="brand-section" id="brandscontent">
                      <h3 class="brand-section-heading">Vos marques préférées sont sur <span style="  text-transform: none;">Peintureautoexpert-pro.com</span></h3>
                      <p class="brand-section-description">Explorez notre sélection de peintures, d'outillage et de produits de carrosserie de qualité, soigneusement choisis parmi les marques les plus renommées de l'industrie.
                        <small style="font-size:0.85rem !important;">
                          <i>
                          <a  href="{{path('app_temporary_order')}}" style="color:black;">(*Commander un produit du catalogue)</a>
                          </i>
                        </small>
                     </p>
                  </div>
                 <div class="brand-image">
                      <div class="row">
                          {% for marque in brands %}
                              <div class="col-6 col-md-3 text-center mb-1 p-3"> 
                                  <div class="card4 brand-back d-flex flex-column justify-content-center align-items-center">
                                      {# <a href="{{ path('app_brand', { brand: marque.name } ) }}">
                                          <img src="/uploads/brands/{{ marque.illustration }}" alt="{{ marque.name }}" class="brand-logo">
                                      </a>
                                      <div class="overlay"></div>
                                      <a href="{{marque.cataloguePdf}}" target='blank'>
                                        <button class="btn btn-success card-btn">Catalogue {{marque.name}}  
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M14.5 23.5v-1h7v1zm3.5-3.212L14.712 17l.688-.688l2.1 2.1v-4.887h1v4.887l2.1-2.1l.688.688zM4.5 19.5v-17H13L18.5 8v3.14h-6.384v8.36zm8-11h5l-5-5z"/></svg>
                                        </button>
                                      </a> #}
                                      {% include './compoments/_cardBrands.html.twig' %}
                                  </div>
                                  {# <a href="{{ path('app_brand', { brand: marque.name } ) }}" class="brand-name">{{ marque.name }}</a> #}
                              </div>
                          {% endfor %}
                          {% include './compoments/_catalogueModel.html.twig'%}
                      </div>
                  </div>
         </div>
       </div>


          
{# fin block brands #}
{# <div class="container">

<h3 class="brand-section-heading">Nouveautés</h3>

<div class="row mt-3 mb-3">

  <div class="col-md-6 home-update">
  <div class="row">
    
    <!-- Première ligne -->
    <div class="col-md-6">
      <div class="card4 w-100 mb-3 card-update-home" style="background-image: url(/assets/img/image1.png); height: 300px !important;">
        <div class="card-body">
        </div>
          <div class="overlay"></div>
          <button class="btn btn-success card-btn">Acheter</button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card4 w-100 mb-3 card-update-home" style="background-image: url(/assets/img/image2.png); background-size: 295px; height: 300px !important;">
        <div class="card-body">
        </div>
        <div class="overlay"></div>
          <button class="btn btn-success card-btn">Acheter</button>
      </div>
    </div>

    <!-- Deuxième ligne -->
    <div class="col-md-6">
      <div class="card4 w-100 mb-3 card-update-home" style="background-image: url(/assets/img/image3.png); height: 300px !important;">
        <div class="card-body">
        </div>
        <div class="overlay"></div>
          <button class="btn btn-success card-btn">Acheter</button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card4 w-100 mb-3 card-update-home" style="background-image: url(/assets/img/image4.png); height: 300px !important;">
        <div class="card-body">
        </div>
        <div class="overlay"></div>
          <button class="btn btn-success card-btn">Acheter</button>
      </div>
    </div>

  </div>
</div> #}

{# cadre de carousel #}
     {# <div class="col-md-6">    
              <div id="myCarousel" class="carousel slide custom-carousel mb-0" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active card4 p-0" style="  background-color: white;">
                      <video class="d-block" autoplay loop muted style="height:100% !important; width:100% !important;">
                        <source src="{{asset('assets/videos/papg.mp4')}}" type="video/mp4">
                      </video>
                      <div class="container">
                        <div class="carousel-caption text-start">
                          <p><a class="btn btn-lg btn-success card-btn" href="#">VOIR PLUS</a></p> 
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                            <img src="{{ asset('assets/img/image5.png') }}" alt="Slide image" class="d-block w-100 centered-image">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                          <img src="{{ asset('assets/img/image6.png') }}" alt="Slide image" class="d-block w-100 centered-image">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                          <img src="{{ asset('assets/img/image7.png') }}" alt="Slide image" class="d-block w-100 centered-image">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                          <img src="{{ asset('assets/img/image8.png') }}" alt="Slide image" class="d-block w-100 centered-image">
                      </div>
                    </div>
                </div> 
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
    </div>
</div> #}
{# </div> #}
   {% if app.user and not is_granted('ROLE_MANAGER') %}
<div class="container-out  swiper" id="blocPalette">
  {# <div class="container"> #}
    <div class="card card-product-parent"> 
      <!-- Header de cadre -->
      <div class="title appear-animate-item-in-list">
        <div class="header-flex">
          <h3 > <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"><path stroke-linecap="round" d="M11.029 2.54a2 2 0 0 1 1.942 0l7.515 4.174a1 1 0 0 1 .514.874v8.235a2 2 0 0 1-1.029 1.749l-7 3.888a2 2 0 0 1-1.942 0l-7-3.889A2 2 0 0 1 3 15.824V7.588a1 1 0 0 1 .514-.874z"/><path stroke-linecap="round" d="m7.5 4.5l9 5V13M6 12.328L9 14"/><path d="m3 7l9 5m0 0l9-5m-9 5v10"/></g></svg> 
          Tarifs par palette</h3>
          <hr class="title__line">
          <div class="title__buttons">
            <a class="button-gamme" data-bs-toggle="modal" data-bs-target="#staticBackdrop" aria-label="Afficher tous les produits de la collection Mastic">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M2 2h9v9H2zm2 2v5h5V4zm13.5 0a2.5 2.5 0 1 0 0 5a2.5 2.5 0 0 0 0-5M13 6.5a4.5 4.5 0 1 1 9 0a4.5 4.5 0 0 1-9 0M2 13h9v9H2zm2 2v5h5v-5zm9-2h9v9h-9zm2 2v5h5v-5z"/></svg>
              <span >Tout afficher</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Fin header -->

      {# Start Body  #}
   
      <div class="card-body">
        {% include './compoments/sliderProduct.html.twig' %}
      </div>
       {# end body #}
    </div>
  {# </div> #}
</div>
  {% endif %}
<!-- Button trigger modal -->

  {% include './compoments/_modalFullProduct.html.twig' %}
  {% include './compoments/_modalFullQty.html.twig' %}


{# <div class="container mt-2 mb-3">
  {% include './compoments/_charts.html.twig' %}
</div> #}


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
{% if not is_granted('ROLE_MANAGER') %}
  {% include 'compoments/_qtyCarton.html.twig' %}
{% endif %}

{# Block rappel favoris 'Toujours intéressé(e)' #}
  {% include 'compoments/_rappelFavoris.html.twig' %}
{# fin block rappel favoris #}
{% if not is_granted('ROLE_MANAGER') %}
  {% include 'compoments/_profil.html.twig' %}
{% endif %}
{# ---------------------------------------------------------------------- #}
{# block profile contact #}
   
{# 
        <div class="brand-section-heading">
            <h3 class="brand-section-heading" style="color:black !important;">Nos Contacts</h3>
      </div> #}


{# end profile contact #}
{# -------------------------------------------------------------------------- #}


    <!-- START THE FEATURETTES -->

    {# <hr class="featurette-divider"> #}

    {# <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div> #}


    <!-- /END THE FEATURETTES -->



  <!-- FOOTER -->

</main>
{% endblock %}
{% block script %}
  <script>
            var copy = document.querySelector( ".logos-slide" ).cloneNode( true );
            document.querySelector('.logos').appendChild(copy);

  </script>
{% endblock %}


