{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}
<div class="columns-container mt-2">
    <div class="container" id="columns">
        <nav id="breadcrumb" style="--bs-breadcrumb-divider: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%278%27 height=%278%27%3E%3Cpath d=%27M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z%27 fill=%276c757d%27/%3E%3C/svg%3E');" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href={{path('app_home')}}>Peinture Auto Expert Pro</a></li>
                <li class="breadcrumb-item active" aria-current="page">Marques</li>
                <li class="breadcrumb-item active" aria-current="page">{{ produitParMarque.name }}</li>
            </ol>
        </nav>
        <div class="row">
            <!-- col 1 -->
            <div id="left_column" class="column col-xs-12 col-sm-3 col-sm-pull-9">
                <div class="block-fixe">
                 <small><a href="#" class="btn btn-light btn-sm" id="bouton-return">Tous les marques</a></small>
                 <ul class="nav flex-column bg-light-blue listCategories" >
                    {% for brand in brands %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_brand', {'brand': brand.name}) }}">{{brand.name}}</a>
                        </li>
                    {% endfor %}
                    </ul>
              </div>
            </div>
            <!-- col 2 -->
            <div class="center_column col-xs-12 col-sm-9 col-sm-push-3" id="center_column">
                <div class="content_scene_cat mb-4">
                    <h1 class="category-name page-heading">{{ produitParMarque.name }}</h1>
                </div>
                <hr>
                    <div class="content_sortPagiBar">
                        Trier par prix !
                    </div>
                <hr>
                <!-- liste produit -->
                {# <ul class="product_list list">
                    {% for product in produitParMarque.productParents %}
                    <li class="ajax_block_product">
                        <div class="product-container row">
                            <div class="left-block col-sm-3">
                                <div class="product-image-container">
                                {% if product.products|first and product.products|first.slug %}
                                    <a href="{{ path('app_product', { slug: product.products|first.slug }) }}" class="text-decoration-none">
                                        <img class="replace-2x img-responsive" src="/uploads/{{ product.products|first.illustration }}" width="250" height="250" itemprop="image">
                                    </a>
                                {% else %}
                                    <span class="text-muted">Produit non disponible</span>
                                {% endif %}
                                </div>
                            </div>
                            <div class="center-block col-sm-6">
                                <h2 class="product-name" itemprop="name">
                                    {% if product.products|first and product.products|first.slug %}
                                        <a href="{{ path('app_product', { slug: product.products|first.slug }) }}" class="text-decoration-none">
                                        {{ product.name }}
                                        </a>
                                    {% else %}
                                        <span class="text-muted">Produit non disponible</span>
                                    {% endif %}
                                </h2>
                                {# <p class="product-reference">Référence : {{ product.articleCode }}</p> #}
                                {# <p class="product-desc">{{ product.description|raw }}</p>
                                <p class="product-link">
                                    {% if product.products|first and product.products|first.slug %}
                                    <a href="{{ path('app_category', {'slug': product.category.slug}) }}" title="">{{ product.category }}</a> 
                                        {% else %}
                                        <span class="text-muted">Produit non disponible</span>
                                    {% endif %}
                                    
                                    | <a href="#" title="">{{ produitParMarque.name }}</a>
                                </p>
                               
                            </div>
                            <div class="right-block col-sm-3">
                                <div class="content_price">
                                    <span class="price product-price">
                                       {% if product.products|first %}
                                            {{ product.products|first.priceU | price }} HT
                                        {% else %}
                                            Prix non disponible
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="button-container">
                                    {% if product.products|first and product.products|first.slug %}
                                        <a href="{{ path('app_product', { slug: product.products|first.slug }) }}" class="text-decoration-none">
                                        Voir le produit
                                        </a>
                                    {% else %}
                                        <span class="text-muted">Produit non disponible</span>
                                    {% endif %}                               
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>  #}
                <div class="row mt-4 mb-5">
                    {% for product in produitParMarque.productParents %}
                            {% include './compoments/product_item.html.twig' %}
                   {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock %}
