{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Espace membre</h1>
        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                {% if orders|length == 0 %}
                    <div class="alert alert-info">
                        Vous n'avez passé aucune commande pour le moment.
                    </div>
                {% else %}
                <div class="cadre mt-2">
                  <h2 class="titre">Chiffre d'affaires des 6 mois précédents</h2>
                            {{ render_chart(chart) }}
                
                </div>
                      <div class="cadre mt-4">
                        <h2 class="titre"> Chiffre d'affaires par catégories des 6 mois précédents</h2>
                            {{ render_chart(chartGrad) }}
                      </div>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}
