{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <h5>Mes favoris ({{ app.user.wishlists|length }})</h5>
                {% if app.user.wishlists|length > 0 %}
                    <div class="row">
                        {% for product in app.user.wishlists %}
                            <div class="col-md-3 text-center">
                                <a href="{{ path('app_product', { slug : product.slug } ) }}" class="text-decoration-none">
                                    <img src="/uploads/{{ product.illustration }}" class="img-fluid">
                                    <span class="d-block fw-bold text-black">{{ product.name }}</span>
                                </a>
                                <span class="d-block">
                                  {% if is_granted('ROLE_MANAGER') %}
                                **** € HT
                                {% else %}
                                {{ product.pricewt|price }} HT
                                {% endif %}
                                
                                
                                </span>
                                <a href="{{ path('app_account_wishlist_remove', { id : product.id } ) }}" class="small text-secondary">Supprimer</a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    Vous n'avez pas de produit dans votre liste de souhait.
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}
