{% extends 'base.html.twig' %}

{% block title %}Hello BasePeintureController!{% endblock %}

{% block body %}
<div class="container mt-3">
 <h2><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2c-5.33 4.55-8 8.48-8 11.8c0 4.98 3.8 8.2 8 8.2s8-3.22 8-8.2c0-3.32-2.67-7.25-8-11.8m0 18c-3.35 0-6-2.57-6-6.2c0-2.34 1.95-5.44 6-9.14c4.05 3.7 6 6.79 6 9.14c0 3.63-2.65 6.2-6 6.2m-4.17-6c.37 0 .67.26.74.62c.41 2.22 2.28 2.98 3.64 2.87c.43-.02.79.32.79.75c0 .4-.32.73-.72.75c-2.13.13-4.62-1.09-5.19-4.12a.75.75 0 0 1 .74-.87"/></svg> Commandez vos bases de peinture ici !</h2>
    <div class="container my-5 small-container">
        <twig:Form />
     </div>
</div>


<div class="container-out  swiper mb-3">
  {# <div class="container"> #}
    <div class="card card-product-parent"> 
      <!-- Header de cadre -->
      <div class="title appear-animate-item-in-list">
        <div class="header-flex">
          <h2 class="title__heading">Peinture spéciale</h2>
          <hr class="title__line">
          {# <div class="title__buttons">
            <a class="button-gamme" href="{{ path('app_category', {'slug': 'peinture'}) }}" aria-label="Afficher tous les produits de la collection Mastic">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M2 2h9v9H2zm2 2v5h5V4zm13.5 0a2.5 2.5 0 1 0 0 5a2.5 2.5 0 0 0 0-5M13 6.5a4.5 4.5 0 1 1 9 0a4.5 4.5 0 0 1-9 0M2 13h9v9H2zm2 2v5h5v-5zm9-2h9v9h-9zm2 2v5h5v-5z"/></svg>
              <span>Tout afficher</span>
            </a>
          </div> #}
        </div>
      </div>
      <!-- Fin header -->

      {# Start Body  #}
      <div class="card-body mb-3">
        {% include './compoments/_slidePaint.html.twig' %}
      </div>
       {# end body #}

    </div>
  {# </div> #}
</div>


<div class="container-out  swiper">
  {# <div class="container"> #}
    <div class="card card-product-parent"> 
      <!-- Header de cadre -->
      <div class="title appear-animate-item-in-list">
        <div class="header-flex">
          <h2 class="title__heading">Équipement de laboratoire</h2>
          <hr class="title__line">
        </div>
      </div>
      <!-- Fin header -->

      {# Start Body  #}
      <div class="card-body mb-3">
        {% include './compoments/_inLabo.html.twig' %}
      </div>
       {# end body #}

    </div>
  {# </div> #}
</div>

{% endblock %}
