{% extends 'base.html.twig' %}
{% block title %}Ajouter un contrat{% endblock %}






{% block body %}
<style>


    /* Liste des contrats */
    .contract-list {
        margin: 20px auto;
        padding: 0;
        max-width: 600px;
    }

    .contract-item {
        margin-bottom: 10px;
    }

    /* Style des liens de téléchargement */
    .contract-link {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    .contract-link:hover {
        text-decoration: underline;
        color: #0056b3;
    }
</style>

    <div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <h5 class="order-titre">Contrats</h5>
     
            {# Vérification des permissions d'administration #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="admin-form-wrapper mb-3">
                            <!-- Formulaire d'administration -->
                            {{ form(form) }}
                        </div>
                    {% endif %}
                    <hr>
                    {# Liste des contrats disponibles #}
                    {% if contrats is not empty %}
                        <div class="contract-list">
                            {% for contrat in contrats %}
                                <div class="contract-item">
                                    <a href="/uploads/docUser/{{ contrat.name }}" class="contract-link">
                                       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="2rem" height="2rem" color="blue" ><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM80 64l64 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L80 96c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64l64 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-64 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm54.2 253.8c-6.1 20.3-24.8 34.2-46 34.2L80 416c-8.8 0-16-7.2-16-16s7.2-16 16-16l8.2 0c7.1 0 13.3-4.6 15.3-11.4l14.9-49.5c3.4-11.3 13.8-19.1 25.6-19.1s22.2 7.7 25.6 19.1l11.6 38.6c7.4-6.2 16.8-9.7 26.8-9.7c15.9 0 30.4 9 37.5 23.2l4.4 8.8 54.1 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-64 0c-6.1 0-11.6-3.4-14.3-8.8l-8.8-17.7c-1.7-3.4-5.1-5.5-8.8-5.5s-7.2 2.1-8.8 5.5l-8.8 17.7c-2.9 5.9-9.2 9.4-15.7 8.8s-12.1-5.1-13.9-11.3L144 349l-9.8 32.8z"/></svg> Télécharger le contrat
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

            </div>
        </div>

    </div>

{% endblock %}
