<ul class="nav filter-block flex-column p-3 " >
    <li class="nav-item">
        {{ form_start(form, {'attr': {'id': 'search-form'}}) }}
           {% for child in form %}
                {{ form_row(child) }}
           {% endfor %}
            {# <button type="submit" class="w-100 btn btn-filter"> <svg xmlns="http://www.w3.org/2000/svg" width="19px" height="19px" viewBox="0 0 24 24" class="m-1"><path fill="currentColor" d="M22 18.605a.75.75 0 0 1-.75.75h-5.1a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h7.74a2.93 2.93 0 0 1 5.66 0h5.1a.75.75 0 0 1 .75.75m0-13.21a.75.75 0 0 1-.75.75H18.8a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h10.39a2.93 2.93 0 0 1 5.66 0h2.45a.74.74 0 0 1 .75.75m0 6.6a.74.74 0 0 1-.75.75H9.55a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h1.14a2.93 2.93 0 0 1 5.66 0h11.7a.75.75 0 0 1 .75.75"/></svg>FILTER</button> #}
        {{ form_end(form) }}
    </li>
</ul>
{% block script %}
       <script>
        document.getElementById('search-form').addEventListener('input', function() {
            this.submit();
        });
    </script>
{% endblock %}

