<ul class="nav flex-column bg-light-blue listCategories" >
{% for category in parentCategories %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_category', {'slug': category.slug}) }}">{{category.name}}</a>
    </li>
{% endfor %}
</ul>

