{% extends 'base.html.twig' %}

{% block title %}
    {{ Parent.name }}
    {% if Fils|length != 0 %} ({{ Fils|length }}){% endif %}
{% endblock %}

{% block body %}

    <div class="container my-5">
        <h1>Catégorie {{ Parent.name }} {% if Fils|length != 0 %} ({{ Fils|length }}){% endif %}</h1>

            <div class="row">
                <div class="col mb-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_home') }}">Accueil</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_home') }}">Catégories</a>
                            </li>
                            {% if GrandParent is not null and GrandParent.ParentId is not null %}
                                <li class="breadcrumb-item">
                                    <a href="{{ path('app_category', {'slug': GrandParent.slug}) }}">
                                        {{ GrandParent.ParentId }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if Parent.parentId != null %}
                                <li class="breadcrumb-item">
                                    <a href="{{ path('app_category', {'slug': GrandParent.slug}) }}">
                                        {{ Parent.parentId }}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="breadcrumb-item active" aria-current="page">{{ Parent.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

        {# Sidebar with filtering or listing categories #}
        <div class="row">
            <div class="col-md-3 bloc-fix" >
                {% if Parent.parentId == null %}
                    <div class="block-fixe">
                        {% include './compoments/_listeParentCategory.html.twig' %}
                    </div>
                {% else %}
                    <div class="block-fixe">
                        {% include 'category/_filter.html.twig' %}
                    </div>
                {% endif %}
            </div>

            {# Main content area - Product list or category display #}
            <div class="center_column col-xs-12 col-sm-9 col-sm-push-3" id="center_column">
                

                {# Display warning if no products are available #}
                {% if productfilter |length == 0 %}
                    <div class="alert alert-warning" role="alert">
                        Aucun produit disponible pour cette catégorie
                    </div>
                {% else %}
                    {# Product list - display products from the filtered list #}
                    {# <ul class="product_list list row"> #}
                        {# {% for product in productfilter %} #}
                            <div class="row mt-4 mb-5">
                                    {% for product in productfilter %}  
                                    {% include './compoments/product_item.html.twig' %}
                                    {% endfor %}
                            </div>
                        {# {% endfor %}
                    </ul> #}

                    {# Include the modal for the cart #}
                    {% include './compoments/_modalPanier.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
