{% extends 'base.html.twig' %}

{% block title %}Modifier une commande{% endblock %}

{% block body %}
<div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
                <div class="col-md-9">
                        {{form(form)}}
                </div>
        </div>
</div>
{% endblock %}
