{% extends 'base.html.twig' %}

{% block title %}Modifier une commande{% endblock %}

{% block body %}
<div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
                <div class="col-md-9">

                <div class="addproduct" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajouter<svg  xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"><path d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12m10-8a8 8 0 1 0 0 16a8 8 0 0 0 0-16"/><path d="M13 7a1 1 0 1 0-2 0v4H7a1 1 0 1 0 0 2h4v4a1 1 0 1 0 2 0v-4h4a1 1 0 1 0 0-2h-4z"/></g></svg></div>

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Illustration</th>
                                <th scope="col">Nom du produit</th>
                                <th scope="col">Quantité</th>
                                {# {# <th scope="col">Prix unitaire H.T</th> #}
                                <th scope="col">Total T.T.C</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>
                                    <a href="{{ path('app_product', { slug: product.slugProduct }) }}"> <img src="/uploads/{{ product.productIllustartion}}" width="100px" alt=""></a>
                                    </td>
                                    <td><a href="{{ path('app_product', { slug: product.slugProduct }) }}" style="color:black;">{{ product.prodcutName }}</a></td>
                                   <td>
                                        <input type="number" id="qte-{{ product.id }}" value="{{ product.productQuantity }}" min="1" >
                                        <a href="#" onclick="updateQuantity({{ product.id }})">Modifier</a>
                                    </td>
                                    {# <td>{{ product.productPrice|price }}</td>
                                    <td>{{ product.productTva }}%</td> #}
                                    {% set coeff = 1 + (product.productTva / 100) %}

                                    <td>{{ ((product.productPrice * coeff) * product.productQuantity)|price }}</td>
                                    <td class="text-center"> <a href={{ path('order_remove_product', {'id' : product.id})}}> <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 36 36"><path fill="currentColor" d="M18 2a16 16 0 1 0 16 16A16 16 0 0 0 18 2m8 22.1a1.4 1.4 0 0 1-2 2l-6-6l-6 6.02a1.4 1.4 0 1 1-2-2l6-6.04l-6.17-6.22a1.4 1.4 0 1 1 2-2L18 16.1l6.17-6.17a1.4 1.4 0 1 1 2 2L20 18.08Z" class="clr-i-solid clr-i-solid-path-1"/><path fill="none" d="M0 0h36v36H0z"/></svg></a></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td>{{ order.carrierName }}</td>
                                <td>1</td>
                                <td>{{order.carrierPrice|price}}</td>
                                <td>20%</td>
                                <td>{{ (order.carrierPrice * 1.20 )|price }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div>
                            <strong>Total H.T : </strong> {{ (order.totalWt / 1.2)|price }}<br/>
                            <strong>Total TVA : </strong> {{ (order.totalWt - (order.totalWt / 1.2))|price }}<br/>
                            <strong>Total T.T.C : </strong> {{ order.totalWt|price }}
                        </div>

                </div>
        </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ajouter un produit a la commande sélectionné</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {{ form_start(addProduct) }}
      <div class="modal-body">
     {{form_label(addProduct.product)}}
     {{ form_widget(addProduct.product) }}
     {{form_label(addProduct.qte)}}
     {{ form_widget(addProduct.qte) }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" >{{ form_row(addProduct.submit, { 'label': 'Submit me' }) }}</button>
      </div>
      {{ form_end(addProduct) }}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
    function updateQuantity(productId) {
        let quantity = document.getElementById('qte-' + productId).value;
        if (quantity > 0 && quantity <= 100) {
            window.location.href = "{{ path('order_update_qte', {'id': 'PRODUCT_ID', 'qte': 'QTE_VALUE'}) }}"
                .replace('PRODUCT_ID', productId)
                .replace('QTE_VALUE', quantity);
        } else {
            alert("Veuillez entrer une quantité valide (entre 1 et 100).");
        }
    }
</script>
{% endblock %}
