{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-between">
                    <h5 class="order-titre" style="width:80%;">Mes adresses</h5>
                    <a href="{{ path('app_account_address_form') }}" class="btn btn-light">Ajouter une adresse</a>
                </div>

                {% if app.user.addresses|length == 0 %}
                    <p>Vous n'avez pas encore enregistré d'adresse.</p>
                {% else %}
                    <div class="row">
                    {% for address in app.user.addresses %}
                        <div class="col-md-4 mt-2">
                            <div class="bg-light border-adress p-2 text-center">
                                <strong>{{ address.firstname }} {{ address.lastname }}</strong><br/>
                                {{ address.address }}<br/>
                                {{ address.postal }}, {{ address.city }}<br/>
                                {{ address.country }}<br/>
                                <a href="{{ path('app_account_address_form', { id : address.id } ) }}" class="small text-secondary">Éditer</a>
                                <a href="{{ path('app_account_address_delete', { id : address.id } ) }}" class="small text-secondary">Supprimer</a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}