{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

    <h2>Agir sur la commande</h2>

    {% if order.state != 1 %}
         <a href="{{current_url}}&state=3" class="{% if order.state == 3 %}d-none{% endif %} btn btn-light">la commande est prête</a>
        <a href="{{current_url}}&state=4" class="{% if order.state == 4 %}d-none{% endif %} btn btn-light">Commande expédiée</a>
        <a href="{{current_url}}&state=5" class="{% if order.state == 5 %}d-none{% endif %} btn btn-light">Commande annulée</a>
        <a href="{{current_url}}&statePay=2" class="{% if order.statePay == 2 %}d-none{% endif %} btn btn-light">Payée</a>
        <a href="{{current_url}}&statePay=3" class="{% if order.statePay == 3 %}d-none{% endif %} btn btn-light">Remboursé</a>

         <h3 class="mt-3">Préparateur de commande </h3>
            <a href="{{current_url}}&picker=Youness" class="{% if order.picker == 'Youness' %}d-none{% endif %} btn btn-light">Youness</a>
            <a href="{{current_url}}&picker=Hammad" class="{% if order.picker == 'Hammad' %}d-none{% endif %} btn btn-light">Hammad</a>
            <a href="{{current_url}}&picker=Abdel" class="{% if order.picker == 'Abdel' %}d-none{% endif %} btn btn-light">Abdel</a>
            <a href="{{current_url}}&picker=Riyad" class="{% if order.picker == 'Riyad' %}d-none{% endif %} btn btn-light">Riyad</a>
            <a href="{{current_url}}&picker=Nana" class="{% if order.picker == 'Nana' %}d-none{% endif %} btn btn-light">Nana</a>

    {% else %}
        <p>Vous ne pouvez pas agir sur une commande qui n'est pas encore payée.</p>
    {% endif %}

    <hr>
    {% if  order.state != 1 and order.statePay == 1 or order.statePay == 4 %}
        <a target="_blank" href="{{path('app_invoice_admin_commande',{id_order : order.id})}}" class="btn btn-light btn-sm">Voir/Imprimer le bon de commande</a>
    {% elseif order.statePay == 2 %}
    <a target="_blank" href="{{path('app_invoice_admin',{id_order : order.id})}}" class="btn btn-light btn-sm">Voir/Imprimer la facture</a>
    {% endif %}
    <h3 class="mt-2">Commande n°{{ order.id }}</h3>
    {{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }} | {{ include('admin/statePay.html.twig', { field : { 'value' : order.statePay } } ) }}
    <br/>
    <br/>
    <span>Passée le : {{ order.createdAt|date('d/m/Y') }}</span><br/>
    <span>Stripe Session Id : {{order.stripeSessionId}}</span>
    <div class="row my-4">
        <div class="col-md-6">
            <strong>Adresse de livraison :</strong><br/>
            {{ order.delivrey|raw }}
        </div>
        <div class="col-md-6">
            <strong>Transporteur</strong><br/>
            {{ order.carrierName }}
            <br>
            <div class="mt-2">
                <strong >Préparateur</strong><br>
                {{order.picker}}
            </div>
        </div>
    </div>

    <strong>Contenu de la commande :</strong><br/>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Illustration</th>
            <th scope="col">Nom du produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire H.T</th>
            <th scope="col">TVA</th>
            <th scope="col">Total T.T.C</th>
        </tr>
        </thead>
        <tbody>
            {% for product in order.orderDetails %}
                <tr>
                    <td>
                        <img src="/uploads/{{ product.productIllustartion}}" style=" padding:2px; background-color: #f1f1f1;" width="100px" alt="">
                    </td>
                    <td>{{ product.prodcutName }}</td>
                    <td>{{ product.productQuantity }}</td>
                    <td>{{ product.productPrice|price }}</td>
                    <td>{{ product.productTva }}%</td>
                    {% set coeff = 1 + (product.productTva / 100) %}
                    <td>{{ (product.productPrice  * product.productQuantity * 1.2)|price }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>{{ order.carrierName }}</td>
                <td>1</td>
                <td>{{ order.carrierPrice|price }}</td>
                <td>20%</td>
                <td>{{ (order.carrierPrice * 1.20 )|price  }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right fs-5">
       <strong>Total H.T : </strong> {{ (order.totalWt / 1.2)|price }}<br/>
        <strong>Total TVA : </strong> {{ (order.totalWt - (order.totalWt / 1.2))|price }}<br/>
        <strong>Total T.T.C : </strong> {{ order.totalWt|price }}
    </div>
{% endblock %}