{% if field.value == 'Youness' %}
    <span >Youness</span>
{% elseif field.value == 'Hammad' %}
    <span >Hammad</span>
{% elseif field.value == 'Abdel' %}
    <span >Abdel</span>
{% elseif field.value == 'Riyad' %}
    <span >Riyad</span>
{% elseif field.value == 'Nana' %}
    <span >Nana</span>
{% endif %}

