{% if field.value == 1 %}
    <span class="badge text-bg-secondary">En attente de confirmation</span>
{% elseif field.value == 2 %}
    <span class="badge text-bg-info">En préparation</span>
{% elseif field.value == 3 %}
    <span class="badge text-bg-warning">la commande est prête</span>
{% elseif field.value == 4 %}
    <span class="badge text-bg-success">Expédiée</span>
{% elseif field.value == 5 %}
    <span class="badge text-bg-danger">Annulée</span>
{% endif %}