{% if field.value == 2 %}
    <span class="badge text-bg-success">Payée</span>
{% elseif field.value == 1 %}
    <span class="badge text-bg-danger">Non Payée</span>
{% elseif field.value == 3 %}
    <span class="badge text-bg-dark">Remboursé</span>
{% elseif field.value == 4 %}
    <span class="badge text-bg-dark">En attente de confirmation du virement</span>
{% endif %}