{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
<h3>La commande a été transférée au tunnel d'achat. Veuillez poursuivre les étapes dans la rubrique "Commande" pour traiter la commande.</h3>
{% endblock %}