{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
 <h2 class="text-center" style="margin-bottom:1em"> Informations Magasins({{user.magasinName}}) </h2>

{# Tableau des magasins #}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Identifiant</th>
      <th scope="col">Mot de passe (Première connexion)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{user.uuid}}</td>
      <td>{{user.password}}</td>
    </tr>
  </tbody>
</table>
<hr>
{# Tableau detaile Magasins  #}


<table class="table">

  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Magasin</th>
      <th scope="col">Adresse</th>
      <th scope="col">Carte d'identité</th>
      <th scope="col">kbis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">*</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.magasinName}}</td>
      <td> 69 Avenue de ladivision leclerc 93430 Viletaneuse</td>
      <td><a href="/uploads/docUser/{{user.identite}}" target='_blank'> Carte d'identité</a></td>
      <td><a href="/uploads/docUser/{{user.kbis}}" target='_blank'> KBIS PDF</a></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Contrat</th>
    </tr>
  </thead>
  <tbody>
    {% for contrat in user.contrats %}
    <tr>
      <td>{{ contrat.id }}</td>
      <td>{{ contrat.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}