{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>

            <div class="col-md-9">
                <small><a href="{{ path('app_account') }}" class="btn btn-light btn-sm"> <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 48 48"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path d="m13 8l-7 6l7 7"/><path d="M6 14h22.994c6.883 0 12.728 5.62 12.996 12.5c.284 7.27-5.723 13.5-12.996 13.5H11.998"/></g></svg> Retour</a>
                {% if order.statePay == 1 or order.statePay == 4 %}
                    <a target="_blank" href="{{ path('app_invoice_customer_commande', { id_order : order.id }) }}" class="btn btn-light btn-sm"> <svg xmlns="http://www.w3.org/2000/svg" width="em" height="2em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor"><path d="M7 18v-2.5m0 0V14c0-.471 0-.707.154-.854C7.308 13 7.555 13 8.05 13h.7c.725 0 1.313.56 1.313 1.25S9.475 15.5 8.75 15.5zM21 13h-1.312c-.825 0-1.238 0-1.494.244s-.256.637-.256 1.423v.833m0 2.5v-2.5m0 0h2.187m-4.375 0c0 1.38-1.175 2.5-2.625 2.5c-.327 0-.49 0-.613-.067c-.291-.16-.262-.485-.262-.766v-3.334c0-.281-.03-.606.262-.766c.122-.067.286-.067.613-.067c1.45 0 2.625 1.12 2.625 2.5"/><path d="M15 22h-4.273c-3.26 0-4.892 0-6.024-.798a4.1 4.1 0 0 1-.855-.805C3 19.331 3 17.797 3 14.727v-2.545c0-2.963 0-4.445.469-5.628c.754-1.903 2.348-3.403 4.37-4.113C9.095 2 10.668 2 13.818 2c1.798 0 2.698 0 3.416.252c1.155.406 2.066 1.263 2.497 2.35C20 5.278 20 6.125 20 7.818V10"/><path d="M3 12a3.333 3.333 0 0 1 3.333-3.333c.666 0 1.451.116 2.098-.057A1.67 1.67 0 0 0 9.61 7.43c.173-.647.057-1.432.057-2.098A3.333 3.333 0 0 1 13 2"/></g></svg> Bon de commande</a></small>
                {% else %}
                    <a target="_blank" href="{{ path('app_invoice_customer', { id_order : order.id }) }}" class="btn btn-light btn-sm">Ma facture <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor"><path d="M7 18v-2.5m0 0V14c0-.471 0-.707.154-.854C7.308 13 7.555 13 8.05 13h.7c.725 0 1.313.56 1.313 1.25S9.475 15.5 8.75 15.5zM21 13h-1.312c-.825 0-1.238 0-1.494.244s-.256.637-.256 1.423v.833m0 2.5v-2.5m0 0h2.187m-4.375 0c0 1.38-1.175 2.5-2.625 2.5c-.327 0-.49 0-.613-.067c-.291-.16-.262-.485-.262-.766v-3.334c0-.281-.03-.606.262-.766c.122-.067.286-.067.613-.067c1.45 0 2.625 1.12 2.625 2.5"/><path d="M15 22h-4.273c-3.26 0-4.892 0-6.024-.798a4.1 4.1 0 0 1-.855-.805C3 19.331 3 17.797 3 14.727v-2.545c0-2.963 0-4.445.469-5.628c.754-1.903 2.348-3.403 4.37-4.113C9.095 2 10.668 2 13.818 2c1.798 0 2.698 0 3.416.252c1.155.406 2.066 1.263 2.497 2.35C20 5.278 20 6.125 20 7.818V10"/><path d="M3 12a3.333 3.333 0 0 1 3.333-3.333c.666 0 1.451.116 2.098-.057A1.67 1.67 0 0 0 9.61 7.43c.173-.647.057-1.432.057-2.098A3.333 3.333 0 0 1 13 2"/></g></svg></a></small>
                {% endif %}
                <h5 class="mt-4 class="order-titre"">Ma commande n°{{ order.id }}</h5>
                <span>Passée le : {{ order.createdAt|date('d/m/Y') }}</span><br/>
                {{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }} |  {{ include('admin/statePay.html.twig', { field : { 'value' : order.statePay } } ) }}
                <br/>
                <hr>

                <div class="row my-4">
                    <div class="col-md-6">
                        <strong>Adresse de livraison :</strong><br/>
                        {{ order.user.magasinName }}<br>
                        {{ order.delivrey|raw }}
                    </div>
                    <div class="col-md-6">
                        <strong>Transporteur</strong><br/>
                        {{ order.carrierName }}
                    </div>
                </div>

                <hr>

                <strong>Contenu de la commande :</strong><br/>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Illustration</th>
                        <th scope="col">Nom du produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unitaire H.T</th>
                        <th scope="col">TVA</th>
                        <th scope="col">Total T.T.C</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in order.orderDetails %}
                        <tr>
                            <td>
                               <a href="{{ path('app_product', { slug: product.slugProduct }) }}"> <img src="/uploads/{{ product.productIllustartion}}" width="100px" alt=""></a>
                            </td>
                            <td><a href="{{ path('app_product', { slug: product.slugProduct }) }}" style="color:black;">{{ product.prodcutName }}</a></td>
                            <td>{{ product.productQuantity }}</td>
                            <td>{{ product.productPrice|price }}</td>
                            <td>{{ product.productTva }}%</td>
                            {% set coeff = 1 + (product.productTva / 100) %}

                            <td>{{ ((product.productPrice * coeff) * product.productQuantity)|price }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>{{ order.carrierName }}</td>
                        <td>1</td>
                        <td>{{order.carrierPrice|price}}</td>
                        <td>20%</td>
                        <td>{{ (order.carrierPrice * 1.20 )|price }}</td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <strong>Total H.T : </strong> {{ (order.totalWt / 1.2)|price }}<br/>
                    <strong>Total TVA : </strong> {{ (order.totalWt - (order.totalWt / 1.2))|price }}<br/>
                    <strong>Total T.T.C : </strong> {{ order.totalWt|price }}
                </div>

            </div>
        </div>

    </div>

{% endblock %}