{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5 text-center">
    <!-- Image Section -->
    <div class="mb-4">
        <img src="/assets/img/sac-de-courses.png" alt="Commande confirmée" class="img-fluid" style="max-width: 200px;">
    </div>
    
    {% if etiquettereturn %}
        <!-- Download Button Section -->
        <div class="d-flex justify-content-center mb-4">
            <a href="/uploads/Colissimo/{{etiquettereturn}}" target="_blank" class="btn btn-primary d-flex align-items-center download-return-label px-4 py-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-download me-2" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                        <path d="M7 18v-2.5m0 0V14c0-.471 0-.707.154-.854C7.308 13 7.555 13 8.05 13h.7c.725 0 1.313.56 1.313 1.25S9.475 15.5 8.75 15.5zM21 13h-1.312c-.825 0-1.238 0-1.494.244s-.256.637-.256 1.423v.833m0 2.5v-2.5m0 0h2.187m-4.375 0c0 1.38-1.175 2.5-2.625 2.5c-.327 0-.49 0-.613-.067c-.291-.16-.262-.485-.262-.766v-3.334c0-.281-.03-.606.262-.766c.122-.067.286-.067.613-.067c1.45 0 2.625 1.12 2.625 2.5"/>
                        <path d="M15 22h-4.273c-3.26 0-4.892 0-6.024-.798a4.1 4.1 0 0 1-.855-.805C3 19.331 3 17.797 3 14.727v-2.545c0-2.963 0-4.445.469-5.628c.754-1.903 2.348-3.403 4.37-4.113C9.095 2 10.668 2 13.818 2c1.798 0 2.698 0 3.416.252c1.155.406 2.066 1.263 2.497 2.35C20 5.278 20 6.125 20 7.818V10"/>
                        <path d="M3 12a3.333 3.333 0 0 1 3.333-3.333c.666 0 1.451.116 2.098-.057A1.67 1.67 0 0 0 9.61 7.43c.173-.647.057-1.432.057-2.098A3.333 3.333 0 0 1 13 2"/>
                    </g>
                </svg>
                Étiquette de retour Colissimo en PDF
            </a>
        </div>
    {% endif %}

    <!-- Thank You Message -->
    <h3 class="mb-3 text-primary">Merci pour votre commande</h3>

    <!-- Action Buttons Section -->
    <div class="d-flex justify-content-center flex-wrap gap-2">
        <a href="{{ path('app_account_order', { 'id_order' : order.id } ) }}" class="btn btn-success px-4 py-2">
            Consulter ma commande
        </a>
        <a target="_blank" href="{{ path('app_invoice_customer_commande', { id_order : order.id }) }}" class="btn btn-outline-success px-4 py-2">
            Télécharger le bon de commande
        </a>
    </div>
</div>

{% endblock %}
