{% extends 'base.html.twig' %}
{% block title %}Mes documents{% endblock %}

{% block body %}

    <div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <h5 class="order-titre">Mes documents</h5>
                <a href="/uploads/docUser/{{app.user.contart}}" target="_blank"> Contrat 1</a>
            </div>
        </div>

    </div>

{% endblock %}
