<div id="myCarousel" class="carousel container slide carousel-fade mb-6" data-bs-ride="carousel" >
    <div class="carousel-indicators">
        {% if headers|length > 1 %}
            {% for key,header in headers %}
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ key }}" {% if key == 0 %}class="active" aria-current="true"{% endif %} aria-label="{{ header.title }}"></button>
            {% endfor %}
        {% endif %}
    </div>
    <div class="carousel-inner">
        {% for key,header in headers %}
<div class="carousel-item {% if key == 0 %}active{% endif %}"
     style="
        background: url('/uploads/{{ header.illustration }}');
        background-size: cover;   /* Ajuste l'image pour couvrir le conteneur */
        background-repeat: no-repeat; /* Empêche la répétition de l'image */
        background-position: center; /* Centre l'image */
        height: 27em;">
                {# <div class="container">
                    <div class="carousel-caption" style="margin-right: -150px; bottom:25px;   text-align: end;">
                        <h1>{{ header.title }}</h1>
                        <p class="opacity-75">{{ header.content }}</p>
                        <p><a class="btn btn-lg btn-primary" style=" border: none;" href="{{ header.btnUrl }}">{{ header.btnTitle }}</a></p>
                    </div>
                </div> #}
            </div>
        {% endfor %}
    </div>
    {% if headers|length > 1 %}
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    {% endif %}
</div>
