<nav class="navbar navbar-expand-lg navbar-dark " id="categoryBg">
    <div class="container newDrop">
        {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> #}
        <div  id="navbarColor02">
            <ul class="navbar-nav newDropLi">
                {% for menu in parentCategories %}
                    <li class="nav-item dropdown position-static" style="font-weight: bold; ">
                        <a class="navbar-brand titre-persoNav" href="#" id="navbarDropdown{{ menu.id }}" role="button" data-mdb-toggle="dropdown"
                           aria-expanded="false">
                            {% if menu.name == 'Installation Labo' %}
                                <a href="{{ path('labo') }}">{{ menu.name }}</a>
                            {% else %}
                                {{ menu.name }}
                            {% endif %}
                        </a>
                        <!-- Dropdown menu -->
                        <div class="dropdown-menu w-100 mt-0 dropmenuPerso" aria-labelledby="navbarDropdown{{ menu.id }}">
                            <div class="container">
                                <div class="row my-4">
                                    {% for smenu in allCategory %}
                                        {% if smenu.parentId and smenu.parentId.id == menu.id %}
                                            <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                                <div class="list-group " id="colorScategory">
                                                    <a href="{{ path('app_category', {'slug': smenu.slug}) }}"
                                                       id="fontScategory" class=" list-group-item-action titre-persoNav ">
                                                        {{ smenu.name }}
                                                        {# <img  src="/uploads/{{ smenu.illustration }}" class="cart-icon iconCatgory"> #}
                                                    </a>
                                                    <div class="list-group" id="subSubMenu{{ smenu.id }}">
                                                        {% for ssmenu in allCategory %}
                                                            {% if ssmenu.parentId and ssmenu.parentId.id == smenu.id %}
                                                                <a href="{{ path('app_category', {'slug': ssmenu.slug}) }}"
                                                                   class="list-group-item list-group-item-action titre-persoNav" id="colorSScategory" style='border:none !important; border-radius: 0px !important;'>
                                                                    {{ ssmenu.name }}
                                                                </a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% block script %}
<script>
    $(document).ready(function() {
        // Cacher tous les menus déroulants au chargement de la page
        $('.dropdown-menu').hide();

        // Ajouter un léger délai (en millisecondes) entre le survol et l'affichage du menu déroulant
        var hoverDelay = 200; // Par exemple, un délai de 200 ms
        var timeout;

        // Gérer le survol des éléments de menu avec un délai
        $('.nav-item.dropdown').hover(
            function() {
                var $menuItem = $(this);
                clearTimeout(timeout); // Effacer le délai précédent s'il existe

                timeout = setTimeout(function() {
                    // Fermer tous les menus déroulants ouverts
                    $('.nav-item.dropdown').removeClass('show');
                    $('.dropdown-menu').hide();

                    // Ouvrir le menu déroulant de l'élément survolé
                    $menuItem.addClass('show');
                    $menuItem.find('.dropdown-menu').show();
                }, hoverDelay);
            },
            function() {
                clearTimeout(timeout); // Effacer le délai précédent s'il existe

                var $menuItem = $(this);

                timeout = setTimeout(function() {
                    // Fermer le menu déroulant lorsque le curseur quitte l'élément
                    $menuItem.removeClass('show');
                    $menuItem.find('.dropdown-menu').hide();
                }, hoverDelay);
            }
        );

        // Fermer tous les menus déroulants lorsque l'utilisateur clique ailleurs dans la page
        $(document).click(function(e) {
            var $target = $(e.target);
            if (!$target.is('.navbar-brand') && !$target.parents('.navbar-brand').length) {
                $('.dropdown-menu').hide();
            }
        });
    });
</script>
{% endblock %}
