<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="z-index:1200;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
      <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 16 16">
        <path fill="currentColor" d="M16 7.992C16 3.58 12.416 0 8 0S0 3.58 0 7.992c0 2.43 1.104 4.62 2.832 6.09c.016.016.032.016.032.032c.144.112.288.224.448.336c.08.048.144.111.224.175A8 8 0 0 0 8.016 16a8 8 0 0 0 4.48-1.375c.08-.048.144-.111.224-.16c.144-.111.304-.223.448-.335c.016-.016.032-.016.032-.032c1.696-1.487 2.8-3.676 2.8-6.106m-8 7.001c-1.504 0-2.88-.48-4.016-1.279c.016-.128.048-.255.08-.383a4.2 4.2 0 0 1 .416-.991c.176-.304.384-.576.64-.816c.24-.24.528-.463.816-.639c.304-.176.624-.304.976-.4A4.2 4.2 0 0 1 8 10.342a4.18 4.18 0 0 1 2.928 1.166q.552.552.864 1.295q.168.432.24.911A7.03 7.03 0 0 1 8 14.993m-2.448-7.4a2.5 2.5 0 0 1-.208-1.024c0-.351.064-.703.208-1.023s.336-.607.576-.847s.528-.431.848-.575s.672-.208 1.024-.208c.368 0 .704.064 1.024.208s.608.336.848.575c.24.24.432.528.576.847c.144.32.208.672.208 1.023c0 .368-.064.704-.208 1.023a2.8 2.8 0 0 1-.576.848a2.8 2.8 0 0 1-.848.575a2.72 2.72 0 0 1-2.064 0a2.8 2.8 0 0 1-.848-.575a2.5 2.5 0 0 1-.56-.848zm7.424 5.306c0-.032-.016-.048-.016-.08a5.2 5.2 0 0 0-.688-1.406a4.9 4.9 0 0 0-1.088-1.135a5.2 5.2 0 0 0-1.04-.608a3 3 0 0 0 .464-.383a4.2 4.2 0 0 0 .624-.784a3.6 3.6 0 0 0 .528-1.934a3.7 3.7 0 0 0-.288-1.47a3.8 3.8 0 0 0-.816-1.199a3.9 3.9 0 0 0-1.2-.8a3.7 3.7 0 0 0-1.472-.287a3.7 3.7 0 0 0-1.472.288a3.6 3.6 0 0 0-1.2.815a3.8 3.8 0 0 0-.8 1.199a3.7 3.7 0 0 0-.288 1.47q0 .528.144 1.007c.096.336.224.64.4.927c.16.288.384.544.624.784q.216.216.48.383a5 5 0 0 0-1.04.624c-.416.32-.784.703-1.088 1.119a5 5 0 0 0-.688 1.406c-.016.032-.016.064-.016.08C1.776 11.636.992 9.91.992 7.992C.992 4.14 4.144.991 8 .991s7.008 3.149 7.008 7.001a6.96 6.96 0 0 1-2.032 4.907"/>
      </svg>
      Bonjour, 
      {% if app.user %}
        {{ app.user.magasinName }}
      {% else %}
        Connectez-Vous!
      {% endif %}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  
  <div class="offcanvas-body">
    <ul class="category-list">
      {% for menu in parentCategories %}
        <li class="category-item">
          <a href="#" class="category-link" data-bs-toggle="collapse" data-bs-target="#subcategory{{ menu.id }}" aria-expanded="{% if loop.index == 1 %}true{% else %}false{% endif %}" aria-controls="subcategory{{ menu.id }}">
            {{ menu.name }}
          </a>
          <ul class="collapse subcategory-list {% if loop.index == 1 %}show{% endif %}" id="subcategory{{ menu.id }}">
            {% for smenu in allCategory %}
              {% if smenu.parentId and smenu.parentId.id == menu.id %}
                <li>
                  {% set hasSubsubcategory = false %}
                        {% for ssmenu in allCategory %}
                          {% if ssmenu.parentId and ssmenu.parentId.id == smenu.id %}
                            {% set hasSubsubcategory = true %}
                          {% endif %}
                        {% endfor %}

                       <a href="{% if hasSubsubcategory  == false %}{{ path('app_category', {'slug': smenu.slug}) }}{% else %}#{% endif %}" 
                          class="subcategory-link {% if not hasSubsubcategory %}non-clickable{% endif %}" 
                          data-bs-toggle="{% if hasSubsubcategory %}collapse{% endif %}" 
                          data-bs-target="#subsubcategory{{ smenu.id }}" 
                          aria-expanded="false" 
                          aria-controls="subsubcategory{{ smenu.id }}">
                          {# <img src='/uploads/{{ smenu.illustration }}' class="cart-icon img-fluid" style="width:2rem;border-radius: 50%;">  #}
                          {{ smenu.name }}
                          {% if hasSubsubcategory %}
                            <span class="arrow-icon"></span>  {# Icône affichée uniquement si des sous-sous-catégories existent #}
                          {% endif %}
                      </a>

                  <ul class="collapse subsubcategory-list" id="subsubcategory{{ smenu.id }}">
                    {% for ssmenu in allCategory %}
                      {% if ssmenu.parentId and ssmenu.parentId.id == smenu.id %}
                        <li>
                          <a href="{{ path('app_category', {'slug': ssmenu.slug}) }}" class="subsubcategory-link">
                            {{ ssmenu.name }}
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="offcanvas-footer text-center mb-1 mt-1">
   <a href="{{ path('app_account') }}" style="color:black;" >
     <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="m12 0l-.66.03l3.81 3.81L16.5 2.5c3.25 1.57 5.59 4.74 5.95 8.5h1.5C23.44 4.84 18.29 0 12 0m0 4c-1.93 0-3.5 1.57-3.5 3.5S10.07 11 12 11s3.5-1.57 3.5-3.5S13.93 4 12 4M.05 13C.56 19.16 5.71 24 12 24l.66-.03l-3.81-3.81L7.5 21.5c-3.25-1.56-5.59-4.74-5.95-8.5zM12 13c-3.87 0-7 1.57-7 3.5V18h14v-1.5c0-1.93-3.13-3.5-7-3.5"/></svg> 
    Votre Compte 
  </div>
  </a>
</div>

{% block script %}
<style>
/* Styles de base pour le offcanvas */
.offcanvas-body {
  padding: 1rem;
}

/* Styles pour les catégories */
.category-list {
  list-style-type: none;
  padding-left: 0;
}

.category-item {
  margin-bottom: 1rem;
}

.category-link {
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 0.5rem 0;
  color: black;
}

/* Sous-catégories */
.subcategory-list,
.subsubcategory-list {
  list-style-type: none;
  padding-left: 0em;
}

.subcategory-link {
  display: block;
  padding: 0.5rem 0;
  color:black;
}


/* Styles supplémentaires pour les sous-sous-catégories */
.subsubcategory-list {
  padding-left: 4.5rem; /* Indentation pour les sous-sous-catégories */
}

.subcategory-link[aria-expanded="true"]::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024"><path fill="currentColor" d="M8.2 275.4c0-8.6 3.4-17.401 10-24.001c13.2-13.2 34.8-13.2 48 0l451.8 451.8l445.2-445.2c13.2-13.2 34.8-13.2 48 0s13.2 34.8 0 48L542 775.399c-13.2 13.2-34.8 13.2-48 0l-475.8-475.8c-6.8-6.8-10-15.4-10-24.199"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
}

 

  .arrow-icon {
  display: inline-block;
  width: 16px; /* Largeur de l'icône */
  height: 16px; /* Hauteur de l'icône */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M11.273 3.687a1 1 0 1 1 1.454-1.374l8.5 9a1 1 0 0 1 0 1.374l-8.5 9.001a1 1 0 1 1-1.454-1.373L19.125 12z"/></svg>');
  background-size: contain; /* Adapter la taille du fond */
  background-repeat: no-repeat; /* Ne pas répéter l'image */
  margin-left: 8px; /* Espacement à gauche de l'icône */
}



  .category-link[aria-expanded="false"]::after {
  content: "";
  display: inline-block;
  width: 16px; /* Largeur du SVG */
  height: 16px; /* Hauteur du SVG */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M11.273 3.687a1 1 0 1 1 1.454-1.374l8.5 9a1 1 0 0 1 0 1.374l-8.5 9.001a1 1 0 1 1-1.454-1.373L19.125 12z"/></svg>');
  background-size: contain; /* Adapter la taille du fond */
  background-repeat: no-repeat; /* Ne pas répéter l'image */
  margin-left: 8px; /* Espacement à gauche du SVG */
  }
</style>
{% endblock %}
