    <nav style="borde:none; padding-top:3rem;" class="navTwo">
        <a href="#" class="nav-icon" aria-label="homepage" aria-current="page" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><circle cx="17" cy="7" r="3"/><circle cx="7" cy="17" r="3"/><path d="M14 14h6v5a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zM4 4h6v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1z"/></g></svg>            
        <span>Produits</span>
        </a>

        <div class="main-navlinks">
            <button type="button" class="hamburger"  aria-label="Toggle Navigation" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navlinks-container">
            <a href="{{path('app_base_peinture')}}">
                <button class="signup-btn" onclick="window.location.href='#';">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-dasharray="28" stroke-dashoffset="28" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3c0 0 7 6 7 12c0 2 -1 6 -7 6M12 3c0 0 -7 6 -7 12c0 2 1 6 7 6"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="28;0"/></path></svg>
                    Peintures
                    <div class="signup-arrow-wrapper">
                        <div class="signup-arrow"></div>
                    </div>
                </button>
            </a>
            <a href="{{ path('app_catalogue', {'id': 1}) }}">
                <button class="signup-btn" onclick="window.location.href='#';">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M10 13.5h3.48v-1H10zm0-3h6.962v-1H10zm0-3h6.962v-1H10zM8.116 17q-.691 0-1.153-.462T6.5 15.385V4.615q0-.69.463-1.153T8.116 3h10.769q.69 0 1.153.462t.462 1.153v10.77q0 .69-.462 1.152T18.884 17zm0-1h10.769q.23 0 .423-.192t.192-.423V4.615q0-.23-.192-.423T18.884 4H8.116q-.231 0-.424.192t-.192.423v10.77q0 .23.192.423t.423.192m-3 4q-.69 0-1.153-.462T3.5 18.385V6.615h1v11.77q0 .23.192.423t.423.192h11.77v1zM7.5 4v12z"/></svg>
                    Catalogues
                    <div class="signup-arrow-wrapper">
                        <div class="signup-arrow"></div>
                    </div>
                </button>
            </a>
            
            {% if not is_granted('ROLE_MANAGER') %}

                <a href="{{path("app_home")}}#blocPalette">
                <button class="signup-btn" >
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 2048 2048"><path fill="currentColor" d="m1344 2l704 352v785l-128-64V497l-512 256v258l-128 64V753L768 497v227l-128-64V354zm0 640l177-89l-463-265l-211 106zm315-157l182-91l-497-249l-149 75zm-507 654l-128 64v-1l-384 192v455l384-193v144l-448 224L0 1735v-676l576-288l576 288zm-640 710v-455l-384-192v454zm64-566l369-184l-369-185l-369 185zm576-1l448-224l448 224v527l-448 224l-448-224zm384 576v-305l-256-128v305zm384-128v-305l-256 128v305zm-320-288l241-121l-241-120l-241 120z"/></svg>                    
                Tarifs par palettes
                    <div class="signup-arrow-wrapper">
                        <div class="signup-arrow"></div>
                    </div>
                </button>
            </a>
                <a href="{{path("app_home")}}#blocQte">
                <button class="signup-btn" onclick="window.location.href='#';">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M20.49 7.52a.2.2 0 0 1 0-.08a.2.2 0 0 1 0-.07v-.09l-.06-.15a.5.5 0 0 0-.09-.11l-.09-.08h-.05l-3.94-2.49l-3.72-2.3a.9.9 0 0 0-.29-.15h-.08a.8.8 0 0 0-.27 0h-.1a1.1 1.1 0 0 0-.33.13L4 6.78l-.09.07l-.09.08l-.1.07l-.05.06l-.06.15v.15a.7.7 0 0 0 0 .2v8.73a1 1 0 0 0 .47.85l7.5 4.64l.15.06h.08a.86.86 0 0 0 .52 0h.08l.15-.06L20 17.21a1 1 0 0 0 .47-.85V7.63s.02-.07.02-.11M12 4.17l1.78 1.1l-5.59 3.46l-1.79-1.1Zm-1 15l-5.5-3.36V9.42l5.5 3.4Zm1-8.11l-1.91-1.15l5.59-3.47l1.92 1.19Zm6.5 4.72L13 19.2v-6.38l5.5-3.4Z"/></svg>
                    Tarifs par quantités
                    <div class="signup-arrow-wrapper">
                        <div class="signup-arrow"></div>
                    </div>
                </button>
            </a>
                <a href="{{path("app_account_chart")}}">
                <button class="signup-btn" onclick="window.location.href='#';">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="m16 11.78l4.24-7.33l1.73 1l-5.23 9.05l-6.51-3.75L5.46 19H22v2H2V3h2v14.54L9.5 8z"/></svg>
                    Mes Statistiques
                    <div class="signup-arrow-wrapper">
                        <div class="signup-arrow"></div>
                    </div>
                </button>
            </a>
            <a href="{{path("app_cart")}}">

                <button class="signup-btn" onclick="window.location.href='#';">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M1.5 20.5v-4h1v3h3v1zm17 0v-1h3v-3h1v4zM4 18V6h2v12zm3 0V6h1v12zm3 0V6h2v12zm3 0V6h3v12zm4 0V6h1v12zm2 0V6h1v12zM1.5 7.5v-4h4v1h-3v3zm20 0v-3h-3v-1h4v4z"/></svg>
                    Trouver un produit !
                    <div class="signup-arrow-wrapper">
                        <div class="signup-arrow"></div>
                    </div>
                </button>
            </a>
        {% endif %}
            </div>
        </div>

        <div class="nav-authentication">
            <a href="{{path('app_login')}}" class="user-toggler" aria-label="Sign in page">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.618 21.25c0-3.602-4.016-6.53-7.618-6.53s-7.618 2.928-7.618 6.53M12 11.456a4.353 4.353 0 1 0 0-8.706a4.353 4.353 0 0 0 0 8.706"/></svg>            
             </a>   
        {# <div class="sign-btns">
            <a href="{{path('app_base_peinture')}}" class="sign-in" aria-label="Sign in page">
            <button type="button" class="button-gamme"> <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 512 512"><path fill="currentColor" d="M256 43.91s-144 158.3-144 270.3c0 88.36 55.64 144 144 144s144-55.64 144-144c0-112-144-270.3-144-270.3m16 362.3v-24a60.07 60.07 0 0 0 60-60h24a84.09 84.09 0 0 1-84 84"/></svg> Base peinture</button>
            </a>
            </div> #}
        </div>
      </nav>
      {% include './designeFull/_modelcategory.html.twig' %}
    {% block script %}
    <script>
            const toggler = document.querySelector(".hamburger");
            const navLinksContainer = document.querySelector(".navlinks-container");

            const toggleNav = e => {
            // Animation du bouton
            toggler.classList.toggle("open");

            const ariaToggle =
                toggler.getAttribute("aria-expanded") === "true" ? "false" : "true";
            toggler.setAttribute("aria-expanded", ariaToggle);

            // Slide de la navigation
            navLinksContainer.classList.toggle("open");
            };

            toggler.addEventListener("click", toggleNav);


            new ResizeObserver(entries => {
            if (entries[0].contentRect.width <= 900){
                navLinksContainer.style.transition = "transform 0.4s ease-out";
            } else {
                navLinksContainer.style.transition = "none";
            }
            }).observe(document.body)
    </script>
    {% endblock %}