{# {{form(form, {'attr': {'id': 'search-form'}})}}
{% block script %}
       <script>
        document.getElementById('search-form').addEventListener('input', function() {
            this.submit();
        });
    </script>
{% endblock %} #}
