{% extends 'base.html.twig' %}

{% block body %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center " id="positionImgProduct" style="height: 100%;">
            <img src="/uploads/{{ product.illustration }}" class="img-fluid mb-2" alt="{{ product.name }}">
            <span class="d-block" style="font-weight:500; font-size:20px;">Réf: {{ product.articleCode }}</span>
            <img src="/uploads/brands/{{ product.productParent.brand.illustration }}" class="img-fluid mb-2" id="positionImgBrand" alt="{{ product.productParent.brand.name}}">
        </div>

        <div class="col-md-6 blockProduit d-flex flex-column justify-content-between">
            <div >
                <small>
                    <i>
                        <a href="{{ path('app_category', { slug : product.category.slug } ) }}" style="color:#6c63ff;">
                            {{ product.category.name }} >
                        </a>{{ product.name }}
                    </i>
                </small>
                <h2>{{ product.name }}</h2>
                <p class="descProduct">{{ product.description|raw }}</p> 
                {% if attribut %} 
                <hr>
                
                <strong>Disponible aussi :</strong>
                <div  class="attributs-container">
                    {% for item in productsItem %}
                        {% if item.id != product.id %}
                            <a href="{{ path('app_product', { slug: item.slug }) }}" class="attribut-product text-decoration-none">
                                {{ attribute(item, attribut) }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <hr>
                {% endif %}
                        <!-- From Uiverse.io by mrhyddenn -->
                 {% if not is_granted('ROLE_MANAGER') %}
                <div class="uiverse">
                    <span class="tooltip">💡 Remarque : Le prix de vente conseillé est une indication du fabricant ou du distributeur, mais il n’est pas obligatoire pour les revendeurs. Ces derniers peuvent choisir de l’appliquer ou de proposer un prix différent en fonction de leur politique commerciale et des promotions en cours. 🚀</span>
                    <span>
                       Prix de vente conseillé (PVC): {{(product.pvc /100)|price }} HT
                    </span>
                </div>
                {% endif %}

            </div>


            <!-- Bloc bouton et wishlist en bas -->
            <div class="mt-auto">
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <!-- Champ de saisie pour la quantité -->
                    {# <div class="input-group qteUpdate">
                        <input type="number" class="form-control" id="productQuantity" value="1" min="1" max="100" aria-label="Quantité">
                        <span class="input-group-text">Unités</span>
                    </div> #}

                    <!-- Bouton Ajouter au panier -->
                {% if not is_granted('ROLE_MANAGER') %}
                    <a href="{{ path('app_cart_add', { id : product.id} ) }}" 
                       class="btn btn-success w-100" 
                       id="addpanier" data-turbo="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1m-9-1a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1M18 6H4.27l2.55 6H15c.33 0 .62-.16.8-.4l3-4c.13-.17.2-.38.2-.6a1 1 0 0 0-1-1m-3 7H6.87l-.77 1.56L6 15a1 1 0 0 0 1 1h11v1H7a2 2 0 0 1-2-2a2 2 0 0 1 .25-.97l.72-1.47L2.34 4H1V3h2l.85 2H18a2 2 0 0 1 2 2c0 .5-.17.92-.45 1.26l-2.91 3.89c-.36.51-.96.85-1.64.85"/>
                        </svg> 
                        Ajouter au panier 
                            {{ product.priceU|price }} HT
                    </a>
                {% endif %}
                    {% if app.user %}
                        {% if product in app.user.wishlists %}
                            <a class="wishlist-icon wishlist-icon-active" href="{{ path('app_account_wishlist_remove', { id : product.id } ) }}" style="margin-left: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2c-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
                                </svg>
                            </a>
                        {% else %}
                            <a class="wishlist-icon" href="{{ path('app_account_wishlist_add', { id : product.id } ) }}" style="margin-left: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2c-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
                                </svg>
                            </a>
                        {% endif %}
                    {% else %}
                        <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2c-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
                            </svg>
                        </a>
                    {% endif %}

                

                </div>

                <div class="collapse" id="collapseExample">
                    <div class="mt-2">
                        Pour utiliser les avantages de la Wishlist, <a href="{{ path('app_login') }}">connectez-vous</a> ou <a href="{{ path('app_register') }}">créez votre compte</a> client.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include './product/technique.html.twig' %}
{% include './product/scrolling.html.twig' %}

{% endblock %}

{% block script %}
<script>
    // Récupère le bouton et l'input de quantité
    const addToCartButton = document.getElementById('addpanier');
    const quantityInput = document.getElementById('productQuantity');

    // Change dynamiquement l'URL du lien lorsque l'utilisateur change la quantité
    quantityInput.addEventListener('input', function() {
        const quantity = quantityInput.value; // Récupère la valeur de la quantité
        const productId = {{ product.id }}; // Récupère l'ID du produit

        // Met à jour l'URL avec la quantité sélectionnée
        addToCartButton.href = "{{ path('app_cart_addQte', { id: 'PRODUCT_ID', qte: 'QTE' }) }}"
            .replace('PRODUCT_ID', productId)
            .replace('QTE', quantity);
    });
</script>

<script>


</script>
{% endblock %}
