<style>
.price-info {
    font-size: 18px;
    color: #555;
    margin: 0;
}

.price-info strong {
    color: #000;
    font-weight: 600;
}
</style>
<div class="container">
    <section class="page-product-box ax_productscategory">
        <div class="ax_productscategory_title page-product-heading" data-axseo-oldtag="h3">
            <span class="page-heading-text" style="font-weight:500;">Prix de vente à conseil</span>
        </div>
    </section>
</div>


