<div class="container">
    <section class="page-product-box ax_productscategory">
        <div class="ax_productscategory_title page-product-heading" data-axseo-oldtag="h3">
            <span class="page-heading-text" style="font-weight:500;">Produits similaires</span>
        </div>
       {% include './compoments/_productfamille.html.twig'%}
    </section>
</div>
