<div class="container-out mb-5">
    <div class="container">
        {% for desc in product.techniqueProducts %}
        <div class="ax_productscategory_title page-product-heading" data-axseo-oldtag="h3">
            <span class="page-heading-text" style="font-weight:500;">Caractéristiques dʼutilisation</span>
        </div>
            <table class="table table-bordered">
                <tbody>
                {% if desc.ficheTechnique %}
                    <tr class="odd">
                        <td>
                            <a href="{{desc.ficheTechnique}}" target="_blank" style="text-decoration:none !important; color:#6c63ff;">
                                <b class="mr-1">Fiche Technique</b>
                                <svg viewBox="0 0 1024 1024" class="icon-tech" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M768 810.7c-23.6 0-42.7-19.1-42.7-42.7s19.1-42.7 42.7-42.7c94.1 0 170.7-76.6 170.7-170.7 0-89.6-70.1-164.3-159.5-170.1L754 383l-10.7-22.7c-42.2-89.3-133-147-231.3-147s-189.1 57.7-231.3 147L270 383l-25.1 1.6c-89.5 5.8-159.5 80.5-159.5 170.1 0 94.1 76.6 170.7 170.7 170.7 23.6 0 42.7 19.1 42.7 42.7s-19.1 42.7-42.7 42.7c-141.2 0-256-114.8-256-256 0-126.1 92.5-232.5 214.7-252.4C274.8 195.7 388.9 128 512 128s237.2 67.7 297.3 174.2C931.5 322.1 1024 428.6 1024 554.7c0 141.1-114.8 256-256 256z" fill="#6c63ff"></path>
                                        <path d="M512 938.7c-10.9 0-21.8-4.2-30.2-12.5l-128-128c-16.7-16.7-16.7-43.7 0-60.3 16.6-16.7 43.7-16.7 60.3 0l97.8 97.8 97.8-97.8c16.6-16.7 43.7-16.7 60.3 0 16.7 16.7 16.7 43.7 0 60.3l-128 128c-8.2 8.3-19.1 12.5-30 12.5z" fill="#636363"></path>
                                        <path d="M512 938.7c-23.6 0-42.7-19.1-42.7-42.7V597.3c0-23.6 19.1-42.7 42.7-42.7s42.7 19.1 42.7 42.7V896c0 23.6-19.1 42.7-42.7 42.7z" fill="#636363"></path>
                                    </g>
                                </svg>
                            </a>
                        </td>
                        <td>Contient les spécifications techniques et les caractéristiques du produit.</td>
                    </tr>
                {% endif %}
                {% if desc.ficheSecurite %}
                    <tr class="odd">
                        <td>
                            <a href="{{desc.ficheSecurite}}" target='_blank' style='text-decoration: none !important; color:#6c63ff;'>
                                <b class="mr-1">Fiche de Sécurité</b>
                                <svg viewBox="0 0 1024 1024" class="icon-tech" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M768 810.7c-23.6 0-42.7-19.1-42.7-42.7s19.1-42.7 42.7-42.7c94.1 0 170.7-76.6 170.7-170.7 0-89.6-70.1-164.3-159.5-170.1L754 383l-10.7-22.7c-42.2-89.3-133-147-231.3-147s-189.1 57.7-231.3 147L270 383l-25.1 1.6c-89.5 5.8-159.5 80.5-159.5 170.1 0 94.1 76.6 170.7 170.7 170.7 23.6 0 42.7 19.1 42.7 42.7s-19.1 42.7-42.7 42.7c-141.2 0-256-114.8-256-256 0-126.1 92.5-232.5 214.7-252.4C274.8 195.7 388.9 128 512 128s237.2 67.7 297.3 174.2C931.5 322.1 1024 428.6 1024 554.7c0 141.1-114.8 256-256 256z" fill="#6c63ff"></path>
                                        <path d="M512 938.7c-10.9 0-21.8-4.2-30.2-12.5l-128-128c-16.7-16.7-16.7-43.7 0-60.3 16.6-16.7 43.7-16.7 60.3 0l97.8 97.8 97.8-97.8c16.6-16.7 43.7-16.7 60.3 0 16.7 16.7 16.7 43.7 0 60.3l-128 128c-8.2 8.3-19.1 12.5-30 12.5z" fill="#636363"></path>
                                        <path d="M512 938.7c-23.6 0-42.7-19.1-42.7-42.7V597.3c0-23.6 19.1-42.7 42.7-42.7s42.7 19.1 42.7 42.7V896c0 23.6-19.1 42.7-42.7 42.7z" fill="#636363"></path>
                                    </g>
                                </svg>
                            </a>
                        </td>
                        <td>Fournit les informations nécessaires pour garantir la sécurité lors de l'utilisation, la manipulation et l'entreposage du produit.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <div class="epf_product_features_html_block">
                <div class="product-features">
                {% if desc.image is not null %}
                    <div class="product-feature-1">
                        <div class="product-feature-multiple-image">
                            <ul class="pictogram-list">
                                {% for icon in desc.image %}
                                    <li>
                                        <img src="/uploads/global/{{ icon }}" alt="Danger pictogramme">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                    <div class="product-feature-3">
                        <div class="product-feature-multiple-text">
                            <ul>
                                <li>{{desc.descriptionTech|raw}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% block script %}
<style>
    .pictogram-list {
        display: flex;
        list-style-type: none;
        padding: 0;
    }
    .pictogram-list li {
        margin-right: 10px;
    }
    .pictogram-list img {
        max-width: 50px;
        height: auto;
    }
</style>
{% endblock %}