<div class="wrapper">
  <input type="checkbox" />
  <div class="btn"></div>
  <div class="tooltip">
     <a href="{{marque.cataloguePdf}}" style="color:black;" target="_blank"> <p class="tooltip-text"><b>Catalogue {{marque.name}} </b></p>

                              <svg viewBox="0 0 1024 1024" class="icon-tech" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M768 810.7c-23.6 0-42.7-19.1-42.7-42.7s19.1-42.7 42.7-42.7c94.1 0 170.7-76.6 170.7-170.7 0-89.6-70.1-164.3-159.5-170.1L754 383l-10.7-22.7c-42.2-89.3-133-147-231.3-147s-189.1 57.7-231.3 147L270 383l-25.1 1.6c-89.5 5.8-159.5 80.5-159.5 170.1 0 94.1 76.6 170.7 170.7 170.7 23.6 0 42.7 19.1 42.7 42.7s-19.1 42.7-42.7 42.7c-141.2 0-256-114.8-256-256 0-126.1 92.5-232.5 214.7-252.4C274.8 195.7 388.9 128 512 128s237.2 67.7 297.3 174.2C931.5 322.1 1024 428.6 1024 554.7c0 141.1-114.8 256-256 256z" fill="#6c63ff"></path>
                                        <path d="M512 938.7c-10.9 0-21.8-4.2-30.2-12.5l-128-128c-16.7-16.7-16.7-43.7 0-60.3 16.6-16.7 43.7-16.7 60.3 0l97.8 97.8 97.8-97.8c16.6-16.7 43.7-16.7 60.3 0 16.7 16.7 16.7 43.7 0 60.3l-128 128c-8.2 8.3-19.1 12.5-30 12.5z" fill="#636363"></path>
                                        <path d="M512 938.7c-23.6 0-42.7-19.1-42.7-42.7V597.3c0-23.6 19.1-42.7 42.7-42.7s42.7 19.1 42.7 42.7V896c0 23.6-19.1 42.7-42.7 42.7z" fill="#636363"></path>
                                    </g>
                                </svg> </a>   
    <svg></svg>
    <svg></svg>
  </div>
  <svg></svg>
</div>

<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
  <symbol id="icon-01" viewBox="0 0 26 22" xmlns="http://www.w3.org/2000/svg">
    <path
      transform="translate(0 -2)"
      d="M18.29,5.76l-.7-1.37A2.59,2.59,0,0,0,15.29,3H10.71a2.59,2.59,0,0,0-2.3,1.39l-.7,1.37a2.6,2.6,0,0,1-2.3,1.39H3.58A2.57,2.57,0,0,0,1,9.71V20.44A2.57,2.57,0,0,0,3.58,23H22.42A2.57,2.57,0,0,0,25,20.44V9.71a2.57,2.57,0,0,0-2.58-2.56H20.59A2.6,2.6,0,0,1,18.29,5.76Z"
    ></path>
    <ellipse ry="4.49" rx="4.52" cy="12.99" cx="13"></ellipse>
  </symbol>
  <symbol id="icon-02" viewBox="0 0 26 22" xmlns="http://www.w3.org/2000/svg">
    <line y2="9.42" x2="25" y1="12.58" x1="25"></line>
    <line y2="7.84" x2="21" y1="14.16" x1="21"></line>
    <line y2="6.26" x2="17" y1="15.74" x1="17"></line>
    <line y2="1" x2="13" y1="21" x1="13"></line>
    <line y2="4.68" x2="9" y1="17.32" x1="9"></line>
    <line y2="8.37" x2="5" y1="13.63" x1="5"></line>
    <line y2="10.47" x2="1" y1="11.53" x1="1"></line>
  </symbol>
  <symbol id="icon-03" viewBox="0 0 26 22" xmlns="http://www.w3.org/2000/svg">
    <polygon
      points="8.08 10 1 21 25 21 18.09 12.66 13.78 17.45 8.08 10"
    ></polygon>
    <circle r="3" cy="4" cx="8"></circle>
  </symbol>

  <symbol
    id="shape-01"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg"
  >
    <polygon
      points="155.77 140.06 141.08 152.42 159.12 158.96 155.77 140.06"
      stroke="var(--shape-color-03)"
    ></polygon>
  </symbol>
  <symbol
    id="shape-02"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g stroke="var(--shape-color-02)">
      <line y2="152.29" x2="141.54" y1="146.73" x1="158.66"></line>
      <line y2="158.07" x2="152.88" y1="140.95" x1="147.32"></line>
    </g>
  </symbol>
  <symbol
    id="shape-03"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      r="13"
      cy="149.51"
      cx="150.1"
      stroke="var(--shape-color-01)"
    ></circle>
  </symbol>
  <symbol
    id="shape-04"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle r="4" cy="149.51" cx="150.1" fill="var(--shape-color-01)"></circle>
  </symbol>
  <symbol
    id="shape-05"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      transform="translate(40.44 -31.76) rotate(13.94)"
      height="18"
      width="18"
      y="140.51"
      x="141.1"
      stroke="var(--shape-color-03)"
    ></rect>
  </symbol>
  <symbol
    id="shape-06"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g stroke="var(--shape-color-02)">
      <line y2="146.24" x2="141.72" y1="152.78" x1="158.48"></line>
      <line y2="157.89" x2="146.83" y1="141.13" x1="153.37"></line>
    </g>
  </symbol>
  <symbol
    id="shape-07"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      transform="translate(-42.94 62.23) rotate(-20.56)"
      height="24"
      width="24"
      y="137.51"
      x="138.1"
      stroke="var(--shape-color-03)"
    ></rect>
  </symbol>

  <symbol
    id="shape-08"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle r="4" cy="149.51" cx="150.1" fill="var(--shape-color-01)"></circle>
  </symbol>
  <symbol
    id="shape-09"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      r="8"
      cy="149.51"
      cx="150.1"
      stroke="var(--shape-color-01)"
    ></circle>
  </symbol>
</svg>
