{% if catalogue is defined %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Les Catalogues 2024</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for cat in catalogue %}
          <p>{{ cat.name }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Vérifiez si le chemin d'URL actuel contient "app_catalogue"
    if (window.location.pathname.includes("catalogue")) {
      // Affiche automatiquement le modal
      var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
      myModal.show();
    }
  });
</script>
{% endif %}
