<div>
  <canvas id="myChart"></canvas>
</div>



{% block script %}
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Para-Peinture', 'Aérosol/ Bombe', 'Vernis', 'Préparation carrosserie', 'Lustrage et finition', 'Equipement cabine et atelier'],
      datasets: [{
        label: 'Achats par categorie /mois',
        data: [9, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}