  <!-- Votre contenu ici -->
    


<style>

footer h6 {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 1em;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 0.5em;
}

footer ul li a {
    color: #000;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .list-inline {
    padding: 0;
    list-style: none;
}

footer .list-inline-item {
    margin-right: 1em;
    
}

footer .list-inline-item a {
    color: #000;
    text-decoration: none;
}

footer .list-inline-item a:hover {
    color: #0056b3;
}

footer .bg-dark {
 background: rgb(22,75,184);
background: -moz-linear-gradient(0deg, rgba(22,75,184,0.4766107126444328) 0%, rgba(0,179,254,0.19089642693014708) 100%);
background: -webkit-linear-gradient(0deg, rgba(22,75,184,0.4766107126444328) 0%, rgba(0,179,254,0.19089642693014708) 100%);
background: linear-gradient(0deg, rgba(22,75,184,0.4766107126444328) 0%, rgba(0,179,254,0.19089642693014708) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#164bb8",endColorstr="#00b3fe",GradientType=1); 
  }

</style>
    <footer class="bg-light pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5 class="titre-footer">Produits</h5>
                    <ul class="list-unstyled footer_ul">
                    {% for category in parentCategories %}
                        <li >
                            <a class="nav-link" href="{{ path('app_category', {'slug': category.slug}) }}">{{category.name}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
        
                <div class="col-md-2">
                    <h5 class="titre-footer">Nos marques</h5>
                        <ul class="list-unstyled footer_ul">
                            {% for brand in brands %}
                                <li >
                                    <a href="{{ path('app_brand', {'brand': brand.name}) }}">{{brand.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                </div>

                <div class="col-md-3">
                    <h5 class="titre-footer">Mon compte</h5>
                    <ul class="list-unstyled footer_ul">
                        <li><a href="{{path('app_account')}}">Mes commandes</a></li>
                        <li><a href="{{path('app_account')}}">Régler mes factures</a></li>
                        <li><a href="{{path('app_account')}}">Mes adresses</a></li>
                        <li><a href="{{path('app_account')}}">Bon de commande</a></li>
                        <li><a href="{{path('app_account')}}">Mes informations personnelles</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="titre-footer">Assistance</h5>
                    <ul class="list-unstyled footer_ul">
                        <li><a href="#">Aide</a></li>
                        <li><a href="#">Retours et remboursements</a></li>
                        <li><a href="#">Livraison</a></li>
                        <li><a href="#">Code Peinture</a></li>
                        <li><a href="#">Trouver un magasin</a></li>
                        <li><a href="#">Plan du site</a></li>
                        <li><a href="#">Responsable du site</a></li>
                    </ul>
                </div>
                {# <div class="col-md-2">
                    <h5 class="titre-footer">Informations d'entreprise</h5>
                    <ul class="list-unstyled footer_ul">
                        <li><a href="#">Qui sommes nous ?</a></li>
                        <li><a href="#">Emploi</a></li>
                        <li><a href="#">Presse</a></li>
                        <li><a href="#">Applications mobile</a></li>
                        <li><a href="#">Blog PAE PRO</a></li>
                        <li><a href="#">PAE PRO News</a></li>
                    </ul>
                </div> #}

                 <div class="col-md-2">
                    <h5 class="titre-footer">Suivez-nous</h5>
                    <ul class="list-unstyled">
                     <li ><a href="#"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50"><path d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"></path></svg></a></li>
                        <li ><a href="#"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 30 30"><path d="M 15 2 C 7.832 2 2 7.832 2 15 C 2 22.168 7.832 28 15 28 C 22.168 28 28 22.168 28 15 C 28 7.832 22.168 2 15 2 z M 11.666016 6 L 18.332031 6 C 21.457031 6 24 8.5420156 24 11.666016 L 24 18.332031 C 24 21.457031 21.457984 24 18.333984 24 L 11.667969 24 C 8.5429688 24 6 21.457984 6 18.333984 L 6 11.667969 C 6 8.5429688 8.5420156 6 11.666016 6 z M 11.666016 8 C 9.6450156 8 8 9.6459688 8 11.667969 L 8 18.333984 C 8 20.354984 9.6459688 22 11.667969 22 L 18.333984 22 C 20.354984 22 22 20.354031 22 18.332031 L 22 11.666016 C 22 9.6450156 20.354031 8 18.332031 8 L 11.666016 8 z M 19.667969 9.6660156 C 20.035969 9.6660156 20.333984 9.9640312 20.333984 10.332031 C 20.333984 10.700031 20.035969 11 19.667969 11 C 19.299969 11 19 10.700031 19 10.332031 C 19 9.9640312 19.299969 9.6660156 19.667969 9.6660156 z M 15 10 C 17.757 10 20 12.243 20 15 C 20 17.757 17.757 20 15 20 C 12.243 20 10 17.757 10 15 C 10 12.243 12.243 10 15 10 z M 15 12 A 3 3 0 0 0 15 18 A 3 3 0 0 0 15 12 z"></path></svg></a></li>
                        <li ><a href="#"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50"><path d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M36.237,20.524 c0.01,0.236,0.016,0.476,0.016,0.717C36.253,28.559,30.68,37,20.491,37c-3.128,0-6.041-0.917-8.491-2.489 c0.433,0.052,0.872,0.077,1.321,0.077c2.596,0,4.985-0.884,6.879-2.37c-2.424-0.044-4.468-1.649-5.175-3.847 c0.339,0.065,0.686,0.1,1.044,0.1c0.505,0,0.995-0.067,1.458-0.195c-2.532-0.511-4.441-2.747-4.441-5.432c0-0.024,0-0.047,0-0.07 c0.747,0.415,1.6,0.665,2.509,0.694c-1.488-0.995-2.464-2.689-2.464-4.611c0-1.015,0.272-1.966,0.749-2.786 c2.733,3.351,6.815,5.556,11.418,5.788c-0.095-0.406-0.145-0.828-0.145-1.262c0-3.059,2.48-5.539,5.54-5.539 c1.593,0,3.032,0.672,4.042,1.749c1.261-0.248,2.448-0.709,3.518-1.343c-0.413,1.292-1.292,2.378-2.437,3.064 c1.122-0.136,2.188-0.432,3.183-0.873C38.257,18.766,37.318,19.743,36.237,20.524z"></path></svg></a></li>
                        <li ><a href="#"><svg height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle style="fill:#000000;" cx="256" cy="256" r="256"></circle> <path style="fill:#000000;" d="M384.857,170.339c-7.677,2.343-15.682,4.356-23.699,6.361 c-56.889,12.067-132.741-20.687-165.495,32.754c-27.317,42.494-35.942,95.668-67.017,133.663L294.629,509.1 c110.47-16.72,197.773-104.036,214.476-214.511L384.857,170.339z"></path> <path style="fill:#FFFFFF;" d="M341.649,152.333H170.351c-33.608,0-60.852,27.245-60.852,60.852v85.632 c0,33.608,27.245,60.852,60.852,60.852h171.298c33.608,0,60.852-27.245,60.852-60.852v-85.632 C402.501,179.578,375.256,152.333,341.649,152.333L341.649,152.333z M300.494,260.167l-80.12,38.212 c-2.136,1.019-4.603-0.536-4.603-2.901v-78.814c0-2.4,2.532-3.955,4.67-2.87l80.12,40.601 C302.947,255.602,302.904,259.019,300.494,260.167L300.494,260.167z"></path> <path style="fill:#ffffff;" d="M341.649,152.333h-87.373v78.605l46.287,23.455c2.384,1.208,2.341,4.624-0.069,5.773l-46.218,22.044 v77.459h87.373c33.608,0,60.852-27.245,60.852-60.852v-85.632C402.501,179.578,375.256,152.333,341.649,152.333z"></path> </g></svg></a></li>
                        <li ><a href="#"><i class="fab fa-tiktok"></i></a></li>
                        <li ><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-dark text-white text-center py-3">
            <div class="container">
                <ul class="list-inline footer-gl-app">
                    <li class="list-inline-item "><a href="#" class="text-white">Paramètres des cookies |</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"> Gérer les Données |</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"> Centre de traitement des données personnelles |</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Cookies |</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Répertoire des cookies</a></li>
                </ul>
                <p class="footer-gl-app">Politique de protection des données personnelles | Conditions d'utilisation</p>
            </div>
        </div>
    </footer>