<style>
  /* Style de la liste générale */
  .custom-nav {
    background-color: #f8f9fa; /* Fond clair */
    padding: 20px;
    border-radius: 8px; /* Bords arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Effet d'ombre subtil */
  }
  
  /* Style des éléments de la liste */
  .custom-nav-item {
    margin-bottom: 12px;
    list-style: none;
  }
  
  /* Style des liens */
  .custom-nav-link {
    display: block;
    padding: 12px 20px;
    background-color: #fff;
    color: #343a40; /* Couleur de texte sombre */
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Ombre légère */
  }

  /* Effet au survol pour les liens non actifs */
  .custom-nav-link:hover:not(.active) {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Accentuation de l'ombre */
  }
  
  /* Lien actif (sélectionné) */
  .custom-nav-link.active {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre plus forte */
  }
</style>

<ul class="custom-nav">
    {% for brand in brands %}
    <li class="custom-nav-item">
        <a href="{{ path('app_catalogue', {'id': brand.id}) }}" class="custom-nav-link">{{ brand.name }}</a>
    </li>
    {% endfor %}
</ul>

