<style>
  /* Style de la liste générale */
  .custom-nav {
    background-color: #f8f9fa; /* Fond clair */
    padding: 20px;
    border-radius: 8px; /* Bords arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Effet d'ombre subtil */
  }
  
  /* Style des éléments de la liste */
  .custom-nav-item {
    margin-bottom: 12px;
    list-style: none;
  }
  
  /* Style des liens */
  .custom-nav-link {
    display: block;
    padding: 12px 20px;
    background-color: #fff;
    color: #343a40; /* Couleur de texte sombre */
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Ombre légère */
  }

  /* Effet au survol pour les liens non actifs */
  .custom-nav-link:hover:not(.active) {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Accentuation de l'ombre */
  }
  
  /* Lien actif (sélectionné) */
  .custom-nav-link.active {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre plus forte */
  }
</style>

<ul class="custom-nav">
    {% for category in parentCategories %}
    <li class="custom-nav-item">
        <a href="{{ path('app_category', {'slug': category.slug}) }}" class="custom-nav-link">{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>

<script>
  const links = document.querySelectorAll('.custom-nav-link');
  
  links.forEach(link => {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      
      // Retirer la classe 'active' de tous les liens
      links.forEach(l => l.classList.remove('active'));
      
      // Ajouter la classe 'active' au lien cliqué
      this.classList.add('active');
    });
  });
</script>
