<ul class="nav flex-column bg-light-blue listCategories" >
{% for brand in brands %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{brand.cataloguePdf}}">{{brand.name}}</a>
    </li>
{% endfor %}
</ul>

