
<style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 2em;
            font-weight: bold;
        }

        .card {
            border: none;
        }

        .image-container {
            height: 66%; /* Adjust the height as needed */
            display: flex;
            align-items: center;
            overflow: hidden;
            justify-content: center;
            background-color: #f8f9fa;

        }

        .card-img-top {
            max-height: 100%;
            width: auto;
            padding: 20px;
        }

        .card-title {
            font-size: 1.5em;
            font-weight: bold;

        }

        .card-text {
            font-size: 1em;
        }

        .text-muted {
            font-size: 0.9em;
            color: #6c757d;
        }
</style>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel" >Produits par Palettes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
            <div class="row mt-4 mb-5">
                {% for product in qtyProd %}
                <div class="col-6 col-md-4 col-lg-3 mb-3">
                    <div class="card h-100 cardPalette">
                        
                        <h5 class="textcard1">{{ product.object.name }}</h5>

                            <div class="image-container" style="position: relative;">
                                <h6 class="positionPrice">{{ product.object.priceU|price }}</h6>
                                <a href="{{ path('app_product', { slug : product.object.slug } ) }}" class="text-decoration-none">
                                    <img src="uploads/{{ product.object.illustration }}" class="card-img-top" alt="{{ product.object.name }}">
                                </a>
                            </div>

                        <div class="card-body text-center">
                              <h6>{{ product.object.numbreUnitePalette}} unités par palette</h6>

                              <span class="price-cadre">
                                  <span class="price" style="font-weight:400; color: #ff0000;">{{ product.priceQte|price }} HT/ unité</span>
                              </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>