
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Mon panier</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex justify-content-center mt-3">
      <img src="/assets/img/sac-de-courses.png" alt="Commande confirmée" style="max-width: 100px;">
    </div>

    {% for product in products %}
      <div class="row mt-2 align-items-center">
        <hr>
        <div class="col-md-2">
          <img src="/uploads/{{ product.produit.illustration }}" class="img-fluid" id="bg-recap" alt="{{ product.produit.name }}">
        </div>
        <div class="col-md-6">
          <strong>{{ product.produit.name }}</strong>
          <span class="d-block small">Prix unitaire : {{ product.produit.priceU|price }}</span>
          <small><i>#Réf: {{product.produit.articleCode}}</i></small>
        </div>
        <div class="col-md-2 text-end">
          <span class="badge bg-secondary">x{{ product.qte }}</span>
        </div>
        <div class="col-md-2 text-end">
          <strong>{{ (product.qte * product.produit.priceU)|price }}<sup> HT</sup></strong>
        </div>
      </div>
    {% endfor %}

    <div class="d-flex justify-content-center mt-4">
      <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="offcanvas" aria-label="Close">Continuer</button>
      <a href="{{ path('app_cart') }}">
        <button type="button" class="btn btn-success">Valider le panier</button>
      </a>
    </div>
  </div>
</div>
