
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Produits par Quantité</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
           <div class="modal-body">
               <div class="container mt-5">
            <div class="row mt-4 mb-5">
                {% for product in quantites %}
                <div class="col-6 col-md-4 col-lg-3 mb-3">
                    <div class="card h-100 cardPalette">
                        
                        <h5 class="textcard1">{{ product.object.name }}</h5>

                            <div class="image-container" style="position: relative;">
                                <h6 class="positionPrice">{{ product.object.priceU|price }}</h6>
                                <a href="{{ path('app_product', { slug : product.object.slug } ) }}" class="text-decoration-none">
                                    <img src="uploads/{{ product.object.illustration }}" class="card-img-top" alt="{{ product.object.name }}">
                                </a>
                            </div>

                        <div class="card-body text-center">
                              <h6> Acheter {{ product.qty }} unités</h6>

                              <span class="price-cadre">
                                  <span class="price" style="font-weight:400; color: #ff0000;">{{ product.priceQte|price }} HT/ unité</span>
                              </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>