<style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 2em;
            font-weight: bold;
        }

        .card {
            border: none;
        }

        .image-container {
            height: 66%; /* Adjust the height as needed */
            display: flex;
            align-items: center;
            overflow: hidden;
            justify-content: center;
            background-color: #f8f9fa;

        }

        .card-img-top {
            max-height: 100%;
            width: auto;
            padding: 20px;
        }

        .card-title {
            font-size: 1.5em;
            font-weight: bold;

        }

        .card-text {
            font-size: 1em;
        }

        .text-muted {
            font-size: 0.9em;
            color: #6c757d;
        }
</style>
{% if app.user %}
<div class="container mt-5">
    <div class="row mt-4 mb-5">
        {% for product in productScrolling %}
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <div class="card h-100">
                <div class="image-container">
                    <a href="{{ path('app_product', { slug: product.slug }) }}" class="text-decoration-none" aria-label="{{ product.name }}">
                        <img src="/uploads/{{ product.illustration }}" class="card-img-top" alt="{{ product.name }}">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">
                     {% if is_granted('ROLE_MANAGER') %}
                         **** € 
                        {% else %}
                        {{ product.priceU|price }} HT
                        {% endif %}
                    </h5>
                    <p class="card-text">{{ product.name }}</p>
                    <p class="card-text text-muted">{{ product.category.name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
