 {% if app.user %}
<div class="container-out  swiper" id="blocQte">
  {# <div class="container"> #}
    <div class="card card-product-parent"> 
      <!-- Header de cadre -->
      <div class="title appear-animate-item-in-list">
        <div class="header-flex">
          <h3 > <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"><path stroke-linecap="round" d="M11.029 2.54a2 2 0 0 1 1.942 0l7.515 4.174a1 1 0 0 1 .514.874v8.235a2 2 0 0 1-1.029 1.749l-7 3.888a2 2 0 0 1-1.942 0l-7-3.889A2 2 0 0 1 3 15.824V7.588a1 1 0 0 1 .514-.874z"/><path stroke-linecap="round" d="m7.5 4.5l9 5V13M6 12.328L9 14"/><path d="m3 7l9 5m0 0l9-5m-9 5v10"/></g></svg> 
          Tarifs par quantité</h3>
          <hr class="title__line">
          <div class="title__buttons">
            <a class="button-gamme"  data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="Afficher tous les produits de la collection Mastic">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M2 2h9v9H2zm2 2v5h5V4zm13.5 0a2.5 2.5 0 1 0 0 5a2.5 2.5 0 0 0 0-5M13 6.5a4.5 4.5 0 1 1 9 0a4.5 4.5 0 0 1-9 0M2 13h9v9H2zm2 2v5h5v-5zm9-2h9v9h-9zm2 2v5h5v-5z"/></svg>
              <span>Tout afficher</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Fin header -->

      {# Start Body  #}
   
      <div class="card-body">
        {% include './compoments/_sliderCarton.html.twig' %}
      </div>
       {# end body #}
    </div>
  {# </div> #}
</div>
  {% endif %}