 <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
            <div class="modal-body">
               <img style="  max-width: 99%;"src={{asset('assets/img/marque.png')}}>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>

    {# ------------------------------------------------------------ #}

     <div class="modal fade " id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
            <div class="modal-body">
                <img style="max-width: 99%;"src={{asset('assets/img/NompRoduit.png')}}>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>

    {# -------------------------------------------------------------- #}

     <div class="modal fade " id="Modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
            <div class="modal-body">
                 <img style="max-width: 99%;"src={{asset('assets/img/reference.png')}}>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>