<div class="offcanvas offcanvas-top bg-custom"  tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header" >
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
    <h5 class="offcanvas-title mt-3 " id="offcanvasTopLabel" style="text-align:center;">Rechercher par Référence, Nom, Catégory Ou Marque du Produit.</h5>
  <div class="offcanvas-body offcanvas-body-update">
  {# Search bar #}
           <div class="ui-input-container">
              <form action="{{ path('app_search') }}" method="get">
                  <input
                      required=""
                      placeholder="Rechercher un produit ou un code peinture"
                      style="color:white;"
                      class="ui-input"
                      type="text"
                      name="q" 
                  />
                  <div class="ui-input-underline"></div>
                  <div class="ui-input-highlight"></div>
                  <div class="ui-input-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                          <path
                              stroke-linejoin="round"
                              stroke-linecap="round"
                              stroke-width="2"
                              stroke="currentColor"
                              d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
                          ></path>
                      </svg>
                  </div>
              </form>
          </div>

{# contenu bar #}

  </div>
</div>