<div class="card-wrapper">
    <ul class="card-list swiper-wrapper" style="padding: 0 !important;">
        {% for quantite in quantites %}
           <li class="card-item swiper-slide">
                <a href="{{ path('app_product', { slug: quantite.object.slug }) }}" class="card-link">
                    
                    <!-- Titre du produit -->
                    <h5 class="card-title">{{ quantite.object.name }}</h5>
                    
                    <!-- Prix original barré avec la ligne diagonale rouge -->
                    <div class="text-end">
                        <span style="position: relative; display: inline-block;">
                            <!-- Prix barré -->
                            <p class="original-price text-end" style="text-decoration: line-through;">
                                {{ quantite.object.priceU|price }} HT/ unité
                            </p>
                            <!-- Barre diagonale rouge -->
                            <span style="position: absolute; top: 15px; left: 0; width: 100%; height: 100%; border-top: 2px solid red; transform: rotate(-10deg);"></span>
                        </span>
                    </div>
                    <!-- Image du produit -->
                    <img src="./uploads/{{ quantite.object.illustration }}" alt="{{ quantite.object.name }}" class="card-image">
                    
                    <!-- Quantité par palette -->
                    <h5 class="mt-1 text-center" style="color:black;"> Acheter {{ quantite.qty }} unités</h5>

                    <!-- Prix actuel -->
                    <span class="price-cadre">
                        <span class="price">{{ quantite.priceQte|price }} HT/ unité</span>
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="swiper-pagination"></div>
    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

{% block script %}
<script>
    new Swiper('.card-wrapper', {
        loop: true,
        spaceBetween: 30,
      	speed: 800,
        slidesPerView: 5, // Nombre de diapositives visibles
        slidesPerGroup: 5, // Définit le nombre de slides à faire défiler à chaque clic


      
      	autoplay: {
        delay: 3000, // Temps en millisecondes entre chaque défilement
        disableOnInteraction: true, // Continue même après une interaction
    	},
      
        // Pagination bullets
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            dynamicBullets: true
        },
      
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // Slides per group

        // Responsive breakpoints
        breakpoints: {
            0: {
                slidesPerView: 1,
                slidesPerGroup: 1 // Pour les écrans plus petits, ajustez si nécessaire
            },
            768: {
                slidesPerView: 2,
                slidesPerGroup: 2
            },
            1024: {
                slidesPerView: 3,
                slidesPerGroup: 3
            },
            1200: {
                slidesPerView: 4,
                slidesPerGroup: 4
            },
            1700: {
                slidesPerView: 5,
                slidesPerGroup: 5
            }
        }
    });
</script>

{% endblock %}
