<div class="card-wrapper">
    <ul class="card-list swiper-wrapper" style="padding: 0 !important;">
        {% for product in products %}
            <li class="card-item swiper-slide">
                <a href="{{ path('app_product', { slug: product.slug }) }}" class="card-link">
                    <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="card-image">
                    {# <p class="badgee">   
                        <span class="original-price"></span>
                        <span class="discount-percent">-{{ ((product.priceU - product.priceP) / product.priceU * 100) | round(0) }}%</span>
                    </p> #}
                        {# <h5>Quantité par palette : {{product.numbreUnitePalette}}</h5> #}
                    <h2 class="card-title">{{ product.name }}</h2>
                    <span class="price-cadre">
                        <span class="price">
                    
                        {% if is_granted('ROLE_MANAGER') %}
                                **** € HT
                                {% else %}
                                  {{ product.priceU|price }} HT
                                {% endif %}
                        </span>
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="swiper-pagination"></div>
    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>


{% block script %}
<script>
    new Swiper('.card-wrapper', {
        loop: true,
        spaceBetween: 30,
      	speed: 800,
        slidesPerView: 5, // Nombre de diapositives visibles
        slidesPerGroup: 5, // Définit le nombre de slides à faire défiler à chaque clic


      
      	autoplay: {
        delay: 3000, // Temps en millisecondes entre chaque défilement
        disableOnInteraction: true, // Continue même après une interaction
    	},
      
        // Pagination bullets
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            dynamicBullets: true
        },
      
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // Slides per group

        // Responsive breakpoints
        breakpoints: {
            0: {
                slidesPerView: 1,
                slidesPerGroup: 1 // Pour les écrans plus petits, ajustez si nécessaire
            },
            768: {
                slidesPerView: 2,
                slidesPerGroup: 2
            },
            1024: {
                slidesPerView: 3,
                slidesPerGroup: 3
            },
            1200: {
                slidesPerView: 4,
                slidesPerGroup: 4
            },
            1300: {
                slidesPerView: 5,
                slidesPerGroup: 5
            }
        }
    });
</script>

{% endblock %}

