   <!-- Full screen modal -->
      <div class="modal fade" id="myModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Categories</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <!-- Votre contenu ici -->
                    <div class="container text-center">
                        <div class="row">
                          {% for category in parentCategories %}
                              <div class="col-md-4">
                                <a href="{{ path('app_category', {'slug': category.slug}) }}">
                                    <div class="card-parentCategory" style="background-image: url(/uploads/{{category.illustration}});">
                                      <div class="card-body">
                                        <p class="card-text category-card-text">{{category.name}}</p>
                                      </div>
                                    </div>
                                </a>
                              </div>
                          {% endfor %}
                        </div>
                      </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
