{# <li class="ajax_block_product col-6 col-sm-4 col-md-3" style="border: 1px solid #6c63ff; padding: 5px;">
    <div class="product-container">
        <div class="product-image-container-category">
            {% if product.products|first and product.products|first.slug %}
            <a class="product_img_link" href="{{ path('app_product', { slug: product.products|first.slug }) }}" class="text-decoration-none" title="{{ product.name }}">
                <img class="replace-2x img-responsive" src="/uploads/{{ product.products|first.illustration }}" width="250" height="250" itemprop="image">
                <img class="icon-product-item" src="/uploads/brands/{{ product.brand.illustration }}" style="width:3rem; border-radius:50%;">
            </a>
            {% else %}
            <span class="text-muted">Produit non disponible</span>
            {% endif %}
        </div>
        <div class="center-block">
            <h2 class="product-name" itemprop="name">
                {% if product.products|first and product.products|first.slug %}
                <a href="{{ path('app_product', { slug: product.products|first.slug }) }}" class="text-decoration-none" title="{{ product.name }}">
                    {{ product.name }}
                </a>
                <h6>Réf {{ product.products|first.articleCode }}</h6>
                {% else %}
                <span class="text-muted">Produit non disponible</span>
                {% endif %}
            </h2>
            {# <p class="nonAffiche">{{ product.description|raw }}</p> #}
        {# </div>
        <div class="content_price">
            <span class="price product-price" id="price_product_absolue">
                {% if product.products|first %}
                {{ product.products|first.priceU | price }} HT
                {% else %}
                    Prix non disponible
                {% endif %}
            </span>
        </div>
        <div class="button-container">
            {% if product.products|first and product.products|first.slug %}
            <a href="{{ path('app_product', { slug: product.products|first.slug }) }}" class="text-decoration-none">
                <button type="button" class="btn btn-primary" id="btn-update-brand">Voir le produit</button>
            </a>
            {% else %}
            <span class="text-muted">Produit non disponible</span>
            {% endif %}
        </div>
    </div> #}






{# </li> #}

<style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 2em;
            font-weight: bold;
        }

        .card {
            border: none;
        }

        .image-container {
            height: 66%; /* Adjust the height as needed */
            display: flex;
            align-items: center;
            overflow: hidden;
            justify-content: center;
            background-color: #f8f9fa;
        }

        .card-img-top {
            max-height: 100%;
            width: auto;
            padding: 20px;
        }

        .card-title {
            font-size: 1.5em;
            font-weight: bold;

        }

        .card-text {
            font-size: 1em;
        }

        .text-muted {
            font-size: 0.9em;
            color: #6c757d;
        }
</style>

        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <div class="card h-100" style="  border: 1px solid #6c63ff;">
                <div class="image-container">
                    {% if product.products|first and product.products|first.slug %}
                    <a class="text-decoration-none" href="{{ path('app_product', { slug: product.products|first.slug }) }}" title="{{ product.name }}">
                        <img class="card-img-top" src="/uploads/{{ product.products|first.illustration }}">
                    </a>
                    {% else %}
                    <span class="text-muted">Produit non disponible</span>
                    {% endif %}
                </div>
                <div class="card-body text-center">
                    {% if product.products|first %}
                        <a class="text-decoration-none" href="{{ path('app_product', { slug: product.products|first.slug })}}" style="color:black;">
                            <h5 class="card-title">
                                {% if is_granted('ROLE_MANAGER') %}
                                **** € HT
                                {% else %}
                                {{ product.products|first.priceU | price }} HT
                                {% endif %}
                            </h5>
                            <p class="card-text">{{ product.name }}</p>
                            <p class="card-text text-muted " style="color: #6c63ff !important; font-weight: 600;" >Réf {{ product.products|first.articleCode }}</p>
                        </a>
                    {% else %}
                        Prix non disponible
                    {% endif %}
                </div>
            </div>
        </div>