<style>
/* Style pour le conteneur de la barre de recherche */
.ui-input-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}



/* Style pour le conteneur des suggestions */
.suggestions-container {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #2c3e50;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    display: none;
    z-index: 1000;
}

/* Style pour chaque suggestion */
.suggestion-item {
    padding: 12px 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suggestion-item:hover {
    background-color: #34495e;
}

/* Style pour le texte en surbrillance dans les suggestions */
.highlight {
    color: #007bff;
    font-weight: bold;
}
</style>

<div class="ui-input-container">
    <form action="{{ path('app_search') }}" method="get">
        <input
            required=""
            placeholder="Rechercher un produit (ex: mastic)..."
            style="color:white;"
            class="ui-input"
            type="text"
            name="query"
            id="search-bar"
        />
        <button type="submit" style="display: none;"></button> 
        <div class="ui-input-underline"></div>
        <div class="ui-input-highlight"></div>
        <div class="ui-input-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2"
                    stroke="currentColor"
                    d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
                ></path>
            </svg>
        </div>
    </form>
    <div id="suggestions" class="suggestions-container"></div>
</div>

    {% block script %}
          <script>
           document.addEventListener('DOMContentLoaded', () => {
            const searchBar = document.getElementById('search-bar');
            const suggestionsContainer = document.getElementById('suggestions');
            const searchForm = document.getElementById('search-form');
            const searchIcon = document.getElementById('search-icon');

            // Gestion de la saisie dans la barre de recherche
            searchBar.addEventListener('input', async (event) => {
            const query = event.target.value;

            if (query.length > 2) {
                const response = await fetch(`/search?query=${encodeURIComponent(query)}`);
                const products = await response.json();

                suggestionsContainer.innerHTML = '';
                products.forEach(product => {
                    const div = document.createElement('div');
                    div.className = 'suggestion-item';
                    div.innerHTML = highlightMatch(product.name, query); // Mettre en surbrillance la correspondance
                    div.addEventListener('click', () => {
                        window.location.href = `/produit/${product.id}`; // Redirection vers la page du produit
                    });
                    suggestionsContainer.appendChild(div);
                });

                suggestionsContainer.style.display = 'block';
            } else {
                suggestionsContainer.style.display = 'none';
            }
            });

            // Soumission du formulaire (recherche générale)
            searchForm.addEventListener('submit', (event) => {
            event.preventDefault(); // Empêcher la soumission par défaut
            const query = searchBar.value.trim();
            if (query) {
                window.location.href = `/compte/recherche?query=${encodeURIComponent(query)}`;
            }
            });

            // Clic sur l'icône de recherche
            searchIcon.addEventListener('click', () => {
            const query = searchBar.value.trim();
            if (query) {
                window.location.href = `/compte/recherche?query=${encodeURIComponent(query)}`;
            }
            });

            // Fonction pour mettre en surbrillance la correspondance dans le texte
            function highlightMatch(text, query) {
            const regex = new RegExp(`(${query})`, 'gi');
            return text.replace(regex, '<span class="highlight">$1</span>');
            }
            });
        </script>
    {% endblock %}