{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>Ajouter un nouveau magasin</h1>

        {% for message in app.flashes('dropzone_success') %}
        <div class="alert alert-success" data-turbo-cache="false">{{ message }}</div>
        {% endfor %}
        
        {{ form_start(registerForm) }}
            {{ form_widget(registerForm) }}
        {{ form_end(registerForm) }}
        
        <br/>

       <b> Vous êtes déjà connecté en tant qu'administrateur !</b>
       <a href="{{ path('app_logout') }}">Déconnectez-vous.</a>
    </div>
{% endblock %}