@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: transparent !important;
}

* {
    text-decoration: none !important;
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    /* font-weight: <weight>;*/
    font-style: normal;
  }


.card-parentCategory {
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    box-shadow: 0px 145px 58px rgba(56, 55, 51, 0.01), 0px 82px 49px rgba(19, 18, 14, 0.05), 0px 36px 36px rgba(32, 31, 27, 0.09), 0px 9px 20px rgba(28, 27, 25, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 254px !important;
    height: 254px !important;
    margin: 40px ;
    border-radius: 2px;
    position: relative !important;
    font-size: 35px !important;
    line-height: 45px !important;
    color: #41157300 !important;
    transition: 300ms ease-in !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 300px !important;
    color: #ffffff !important;
    border-radius: 6px;
  }

  .category-card-text{
    background-color: #6c63ffab !important;
  }
  
  .card-parentCategory:hover {
    transform: scale(1.05);
    transition: 0.9 ease;
    

  }
  .update-parentCategory{
    margin: 7px !important;
    
  }

  .text {
    margin: auto;
    position: absolute;
  }
 
  #bouton-return{
    justify-content: end;
    display: block ruby;
    background-color: black;
    color: white;
  }

  
  #bouton-returns{
    justify-content: end !important;
    display: block ruby !important;
   margin-block:10px !important;

  }
  .card-icon-update{
    height: auto !important;
    width: 50px !important;
  }

  .card-product {
    
    border-radius: 20px;
    position: relative;
    padding: 1.8rem;
    transition: 0.5s ease-out;
    overflow: visible;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    
   }
 
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
    flex-grow: 1;
   }
   
   /* .card-button {
    transform: translate(-50%, 125%);
    width: 70%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   } */
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

   .breadcrumb a{
    color:black !important;
   }

   .listCategories{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    /* border-radius: 1rem; */
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }

   .listCategories li:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,255,231,1) 100%);  
    border-radius: 20px;
    color: white !important;
   }

   .listCategories a:hover{
    color: white !important;
   }
   .listCategories a{
    color: rgb(0, 0, 0) !important;
   }

   .block-fixe{
    
      position: -webkit-sticky !important; /* Safari */
      position: sticky !important;
      top: 60px !important; /* Distance depuis le haut de la fenêtre où le bloc devient fixe */
      z-index: 1 !important;
   }

   .cart-prix-total{
    background-color: black;
    color: white;
    padding: 1px;
    border-radius: 0.375rem;
    padding-inline: 10px;
   }

   .home-update .card{
    background-color: #f5f5f5;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    height: 248px;

   }

   .home-update .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   }


   /* this card is inspired form this - https://georgefrancis.dev/ */

.card-update-home {
  --primary-color: #6c63ff;
  --secondary-color: #3c3852;
  width: 210px;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
  background-size: cover;
  border-radius: 0px;
}

/* .card-update-home > * + * {
  margin-top: 1.1em;
} */

.card-update-home .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.card-update-home .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.card-update-home .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card-update-home .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-update-home svg {
  transition: 0.2s;
}

/* hover */
.card-update-home:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}

.card-update-home:hover .card__arrow {
  background: #111;
}

.card-update-home:hover .card__arrow svg {
  transform: translateX(3px);
}

/* CSS personnalisé pour le carousel */
/* .custom-carousel .carousel-inner,
.custom-carousel .carousel-item svg,
.custom-carousel .carousel-item img {
   border-radius: 0.75rem; Définissez le rayon de votre choix 
} */

.container-out{
  display: block;
  background-color: #ffffff;
  padding:12px 15px 1px;
}

/* Search bar  */

.ui-input-container {
  position: relative;
  width: 100%;
}

.ui-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 1em;
  font-weight: 500;
  color: rgb(53, 51, 51) !important;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  background-color:#e6e6e6 ;
  transition: border-color 0.3s;
  border-radius: 30rem;
}

.ui-input:focus {
  border-color: #00b4fe;
}

.ui-input-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #00b4fe;
  transform: scaleX(0);
  transition: transform 0.3s;


}

.ui-input:focus + .ui-input-underline {
  transform: scaleX(1);
}

.ui-input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(108, 99, 255, 0.1);
  transition: width 0.3s;

}

.ui-input:focus ~ .ui-input-highlight {
  width: 100%;
}

.ui-input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  transition: color 0.3s;
}

.ui-input:focus ~ .ui-input-icon {
  color: #00b4fe;
}

.ui-input-icon svg {
  width: 25px;
  height: 25px;
}

.offcanvas-body-update{

  display: flex;
  justify-content: center;
  align-items: center;
}


/* la bande des marques */

.brand-image{
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100% !important;

  margin-bottom: 10px;
  height: auto; /* hauteur automatique pour garder les proportions */
  object-fit: contain; /* s'assurer que l'image est contenue dans le cadre */
}
.brand-image img{
  height: 125px;
}

.brand-name{
  color:#101010;
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
  /* color: #333; */
}
.brand-back{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
   box-shadow: none !important;
}

.brand-logo{

  max-width: 150px;
  margin-bottom: 10px;
  height: auto; /* hauteur automatique pour garder les proportions */
    object-fit: contain; /* s'assurer que l'image est contenue dans le cadre */
    width: 100%; /* s'assurer que l'image prend toute la largeur du conteneur */
}


.logos {

  overflow: hidden;
   /* padding: 60px 0;  */
  background-color: transparent ;
  white-space: nowrap;
  position: relative;

}
.logos-slide {
  display: inline-block;
  animation: 20s slide infinite linear ;
}
.logos::before{
  position: absolute;
  top:0 !important;
  width: 250px;
  height: 100%;
  content: "";
}
.logos::after{
  position: absolute;
  top:0 !important;
  width: 250px;
  height: 100%;
  content: "";
}
.logos::before{
  left: 0;

  background: linear-gradient(to left,rgba(255,255,255,0),#f3f3f3) ;
  z-index: 4;
}
.logos::after{
  right: 0;

  background: linear-gradient(to right,rgba(255,255,255,0), #f3f3f3) ;
}

.logos-slide img {

  height: 75px;
  margin: 0 20px;

}

.brand-section-heading{
  text-align: center;
  font-size: 24px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  position: relative;
  line-height: 1.4;
  color:#000000;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto",sans-serif;
}

.brand-section-description{
  margin: 0 0 10.5px;
  color:#636363;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 30px;
}


@keyframes slide { 
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.line-court{

  content: '';
  height: 1px;
  width: 300px;
  background: #c9c9c9;
  position: absolute;
  left: 50%;
  margin-left: -150px;
}

/*
Block de payments home page 
*/

.container-home-pay {
  background-color: #ffffff;
  display: flex;
  width: 420px;
  height: 120px;
  position: relative;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  padding: 0;
  margin-bottom: 12px;
}

.container-home-pay:hover {
  transform: scale(1.03);
  width: 220px;
}

.container-home-pay:hover .left-side {
  width: 100%;
}

.left-side {
  background-color: #6c63ff;
  width: 130px;
  height: 120px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
  overflow: hidden;
}

.right-side {
  width: calc(100% - 130px);
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}

.right-side:hover {
  background-color: #f9f7f9;
}

.arrow-pay {
  width: 20px;
  height: 20px;
  margin-right:32px;
}

.new {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto",sans-serif;
  margin-left: 39px;
}

.card-home-pay {
  width: 70px;
  height: 46px;
  background-color: #c7ffbc;
  border-radius: 6px;
  position: absolute;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
  -moz-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
  -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
}

.card-line {
  width: 65px;
  height: 13px;
  background-color: #80ea69;
  border-radius: 2px;
  margin-top: 7px;
}

@media only screen and (max-width: 480px) {
  .container-home-pay {
    transform: scale(0.7);
  }

  .container-home-pay:hover {
    transform: scale(0.74);
  }

  .new {
    font-size: 18px;
  }
}

.buttons-pay {
  width: 8px;
  height: 8px;
  background-color: #379e1f;
  box-shadow: 0 -10px 0 0 #26850e, 0 10px 0 0 #56be3e;
  border-radius: 50%;
  margin-top: 5px;
  transform: rotate(90deg);
  margin: 10px 0 0 -30px;
}

.container-home-pay:hover .card-home-pay {
  animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.container-home-pay:hover .post {
  animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  60% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(-8px) rotate(90deg);
    transform: translateY(-8px) rotate(90deg);
  }
}

.post {
  width: 63px;
  height: 75px;
  background-color: #dddde0;
  position: absolute;
  z-index: 11;
  bottom: 10px;
  top: 120px;
  border-radius: 6px;
  overflow: hidden;
}

.post-line {
  width: 47px;
  height: 9px;
  background-color: #545354;
  position: absolute;
  border-radius: 0px 0px 3px 3px;
  right: 8px;
  top: 8px;
}

.post-line:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 9px;
  background-color: #757375;
  top: -8px;
}

.screen {
  width: 47px;
  height: 23px;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  right: 8px;
  border-radius: 3px;
}

.numbers {
  width: 12px;
  height: 12px;
  background-color: #838183;
  box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 52px;
}

.numbers-line2 {
  width: 12px;
  height: 12px;
  background-color: #aaa9ab;
  box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 68px;
}

@keyframes slide-post {
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
}

.dollar {
  position: absolute;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  color: #4b953b;
  text-align: center;
}

.container-home-pay:hover .dollar {
  animation: fade-in-fwd 0.3s 1s backwards;
}

@keyframes fade-in-fwd {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#offcanvasTopLabel{
  font-weight: 700;
  margin-left: 39px;
  font-size: 24px;
}
/* Block de 6 cadrs dans la page produit */

.home-container{
  background: #f3f3f3;
  box-shadow: 0 2px 8px rgba(0,0,0,0.16);
  height: 295px;
  overflow: hidden;
  margin-bottom: 30px;
}
.home-title{
  background: #6c63ff;
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-left: 66px;
  height: 54px;
  padding-top: 13px;
  position: relative;
  margin-bottom: 14px;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #636363;
}


.home-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(108,99,255,1) 14%, rgba(0,255,231,1) 100%);
}

.home-title img{
  width: 55px;
  height: 45px;
  fill: #FFF;
  position: absolute;
  left: 0;
  top: 55%;
  margin-top: -23px;
  margin-left: 12px;
  border-right: 1px solid rgba(255,255,255,0.3);
  padding-right: 10px;
  padding-bottom: 4px;
}

.home-title h2{
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.25;
  color: #FFF;
  text-transform: uppercase;
}

.home-title a {
  color: #FFF;
  text-decoration: none;
}

.home-top{
  box-sizing: border-box;
}


.home-txt{
  font-size: 14px;
  margin-bottom: 20px;
  padding: 0 15px;
  line-height: 1.3;
  color: #212121;
  height: 54px;
  overflow: hidden;
  font-family: "Roboto",sans-serif;

}

.home-body{
  padding: 0 15px 15px;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #636363;
}

.home-body-img{
  display: inline-block;
  width: 50%;
  float: left;
  max-width: 158px;
}

.home-body-img img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.home-body-text{
  display: inline-block;
  width: 50%;
  float: left;
  padding-left: 15px;
}

.home-body-text a{
  color: #212121;
  display: block;
  line-height: 1.35;
  position: relative;
  padding-left: 10px;
  font-size: 14px;
}
.home-body-text ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.home-body-text a::before{
  content: '';
  background: url(https://www.peinturevoiture-pro.fr/themes/themecarrosserie/css/../img/theme/icons/icon_fleche-droite-2.svg);
  width: 8px;
  height: 8px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
}

/* Page brand */

#columns{
  position: relative;
}

#breadcrumb{
  color: #636363;
  margin-bottom: 6px;
  margin-top: 3px;
}
.page-heading{
  margin-top: 0;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto",sans-serif;
  padding: 0 0 0.4em;
  font-size: 30px;
  margin-bottom: 0;
  color:#6c63ff !important;
}

ul.product_list {
  padding: 0;
  list-style: none;
}

ul.product_list.list > li {
  margin-bottom: 14px;
}
ul.product_list.list > li .product-container {
  padding: 12px;
}

ul.product_list.list > li .product-image-container {
  position: relative;
}
ul.product_list .product-image-container {
  text-align: center;
}
/* ul.product_list .product-image-container img {
  margin: 0 auto;
  margin-bottom: 0;
} */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  
}
.product-name a{
  text-decoration: none;
  color:#6c63ff;
  font-weight: 700;
}
.product-name {
  font-weight: 500;
  /* text-transform: uppercase; */
  line-height: 1.2;
  overflow: hidden;
  margin: 8px 0 1px;
  font-size: 16px;
  display: block;
  padding: 0;
  width: 100%;
}
.product-reference {
  margin-bottom: 22px;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #636363;
}
.product-desc {
  margin-bottom: 15px;
  
}

.content_price {
  text-align: center;
  margin-block: 10px;
 
}

.content_price .price.product-price {
  display: block;
  font-size: 30px;
  color: #6c63ff;
  font-weight: 700;
  line-height: 1.3;
  padding-top: 4px;
  padding-bottom: 40px;

}
#btn-update-brand{
  background-color: #6c63ff !important;
  border: none;
  border-radius: 0px;
  position: absolute;

  bottom: 12px;
  right: 50px;
  
}

/* #price_product_absolue{
  position: absolute;
  bottom: 18px;
  right: 50px;
} */


.ajax_block_product{
  position: relative;
}
#btn-update-brand a{
  color:white;
}
#button-container-update{
  display: flex;
  justify-content: center;
}
.product-link a{
  color:#6c63ff;
}
#order_addresses .form-check,  #order_carriers .form-check, #temporary_order_form_brands, #temporary_order_form_carrierName .form-check {
  background-color: #6b63ff1f;
  padding: 10px 40px;
  border-radius: 10px;
  }

  .nav-item .form-label,  .mb-3 .col-form-label{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;
    color: #ffffff;
  }

  .bg-products{
    background-image: linear-gradient(to right top, #f3f3f3, #f6f6f6, #f9f9f9, #fcfcfc, #ffffff);
    padding: 10px 15px;
    border-radius: 10px;
  }

  #bg-recap{
    background-color: #f1f1f1 !important;
    padding: 2px !important;
  }

  .bg-custom {
    background-image: url('https://i.pinimg.com/originals/aa/72/be/aa72be38245dc198486cc9543fd47360.jpg'); /* Remplacez ceci par le chemin de votre image */
    background-position:initial; /* Pour centrer l'image */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
  }
  .border-adress{
    border: 1px solid #6c63ff;
    border-radius: 2px;
  }

  .form_container_login {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px 40px 20px 40px;
    background-color: #ffffff;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
      0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
      0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    font-family: "Inter", sans-serif;
  }
  
  .logo_container {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
    border: 1px solid #F7F7F8;
    filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
  }
  
  .title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #212121;
  }
  
  .subtitle {
    font-size: 0.725rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: #8B8E98
  }
  
  .input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .icon-login {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
  }
  
  .input_label {
    font-size: 0.75rem;
    color: #8B8E98;
    font-weight: 600;
  }
  
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  }
  
  .sign-in_btn {
    width: 100%;
    height: 40px;
    border: 0;
    background: #115DFC;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
  }
  
  .sign-in_ggl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #ffffff;
    border-radius: 7px;
    outline: none;
    color: #242424;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
  }
  
  .sign-in_apl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #212121;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
  }
  
  .separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #8B8E98;
  }
  
  .separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
  }
  
  .note {
    font-size: 0.75rem;
    color: #8B8E98;
    text-decoration: underline;
  }

  #block-technique{
    border-color: #ffffff;
  }
  #block-technique-titre{
    background-color: white;
  }



  .odd td{
   
  padding: 10px 20px 11px;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #636363;
  }
  .odd tr td:first-child {

    border-right: 1px solid #eaeaea;
    width: 30%;
    font-weight: 700;
  }





  .epf_product_features_html_block{
    font-family: "Roboto",sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #636363;
  }
  .product-feature-multiple-image img{
    max-width: 50px;
  }

  .icon-tech {
    width: 32px;
    z-index: 99;
  }


  .pictogram-list img {
    max-width: 60px;
    height: auto;
}

.titre-footer{
  font-family: AdineuePRO, 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-style: var(--gl-heading-font-set-style-standard-4);
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;

  
}

.titre-footer {
  font-family: 'AdineuePRO', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-style: var(--gl-heading-font-set-style-standard-4);
  font-weight:bold;
  letter-spacing: 1px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
  color:#154fbc;
}

.footer_ul li{
  white-space: nowrap;
  font-family: 'AdihausDIN', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  text-transform: none;
  line-height: 24px;
}


.footer-gl-app{ 
  color: rgb(255, 255, 255);
  text-rendering: optimizeLegibility;
  font-family:'AdihausDIN', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  letter-spacing:0;
  line-height: 22px;
  text-transform: none;
}

.thank-you-text-center {
  text-align: center;
  color: #895bdd;
  font-size: 7em;
  font-family: 'Museo';
  padding-top: .75em;
  text-transform: uppercase;
}

.filter-block{
  /* background-image: linear-gradient(to left bottom, #6d64ff, #988aff, #bcb0ff, #ded7ff, #ffffff);  */
  border-radius: 2px !important;
  border: none;
  box-shadow: #3c3852;
}

#search-form {
  background-color: #6c63ff;
  padding: 10px;
}

.btn-filter{
  background-color: #ffffff !important;
  color:#212121 !important;
  border:1px solid #7b47f5 !important; 
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #212121;
}

.left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.product-image-container-category {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
   /* background-image: linear-gradient(to top, #f4f0f0, #f7f4f4, #f9f8f8, #fcfbfc, #ffffff); */
  }

.product-image-container-category img {
  max-width: 100%;
  height: auto;
  object-fit: contain; /* Pour garder les proportions de l'image */
}
#update-card4{
  margin-top: 190px !important;
  border-radius: 0px !important;
}
.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%; /* Pour s'assurer que l'image n'est pas plus large que son conteneur */
  height: auto; /* Ajuster la hauteur proportionnellement */
}

#navBackground{
  background: rgb(5,5,5);
  background: -moz-linear-gradient(90deg, rgba(5,5,5,1) 0%, rgba(0,74,173,1) 0%, rgba(26,56,172,1) 15%, rgba(0,181,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(5,5,5,1) 0%, rgba(0,74,173,1) 0%, rgba(26,56,172,1) 15%, rgba(0,181,255,1) 100%);
  background: linear-gradient(90deg, rgba(5,5,5,1) 0%, rgba(0,74,173,1) 0%, rgba(26,56,172,1) 15%, rgba(0,181,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#050505",endColorstr="#00b5ff",GradientType=1); 
}

.blockProduit{
  border-inline: 4px solid #6c63ff;
  border-radius: 2%;
  padding: 1em;
}
#addpanier{
  font-size: 21px;
}
.descProdcut{
  font-size: 20px;
  font-weight: 400;
  margin-top: 1rem;
}

.qteUpdate{
  width: 40%;
  margin-right: 5px;
  height: 57px;
}

/* catalogue */


/* Conteneur principal pour les catalogues */
.catalog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Liste de catalogues */
.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
}

/* Élément de liste de catalogue */
.catalog-item {
  flex: 1 1 300px; /* Largeur de chaque carte */
}

/* Carte du catalogue */
.catalog-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

/* Effet au survol */
.catalog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Corps de la carte */
.catalog-card-body {
  padding: 20px;
  text-align: center;
}

/* Titre du catalogue */
.catalog-title {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Description du catalogue */
.catalog-description {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 15px;
}

/* Bouton personnalisé */
.catalog-btn {
  text-decoration: none;
  padding: 8px 16px;
  font-size: 0.9em;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Couleur au survol du bouton */
.catalog-btn:hover {
  background-color: #0056b3;
}

/* Conteneur des attributs */
.attributs-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
  gap: 6px; /* Espace entre les boutons */
  overflow-x: auto; /* Ajoute un défilement horizontal si nécessaire */
  padding: 10px 0;

}

/* Style des attributs */
.attribut-product {
  background-color: #6c63ff;
  padding: 6px 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
  white-space: nowrap; /* Empêche les boutons de se diviser en plusieurs lignes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.attribut-product:hover {
  background-color: #6b63ffcc;
  transform: translateY(-2px);
  cursor: pointer;
}

.order-titre{
  text-align: center;
  font-weight: 600;
  color:#ffffff;
  background: #02aefa;
  padding: 2px;
}

.search-bar-container {
  width: 40% !important; 
}

.image-container {
  position: relative; /* Permet de positionner les éléments enfants en relatif */
}

.positionPrice {
  position: absolute; /* Permet de positionner le prix par rapport au parent */
  top: 10px; /* Ajustez la distance depuis le haut */
  right: 10px; /* Ajustez la distance depuis la droite */
  background-color: rgba(255, 255, 255, 0.8); /* Optionnel : ajoute un fond semi-transparent */
  padding: 5px 10px; /* Optionnel : ajoute de l'espace autour du texte */
  border-radius: 5px; /* Optionnel : ajoute des coins arrondis */
  font-size: 1rem; /* Ajustez la taille de la police selon vos besoins */
  color: #000; /* Couleur du texte */
  text-decoration: line-through !important; /* Barre le texte */
  color: #1749b7; /* Optionnel : change la couleur du texte pour plus de visibilité */
}
.textcard1{
  text-align: center;
  font-weight: 500;
  padding: 5px;
}
#positionImgProduct{
  position: relative;

}
#positionImgBrand {
  position: absolute;
  right: 80%; /* Positionné à 80% de la largeur du parent */
  border-radius: 0%; /* Pas de coins arrondis */
  width: 20%; /* Largeur de l'image */
  top: 0;
}


/* Élément | http://127.0.0.1:8000/ */

body > nav:nth-child(3) {
  /* padding-top: 3rem; */
  padding-top: 1rem !important;
  position: fixed;
}

/* app.css | http://127.0.0.1:8000/build/app.css */

body {
  /* padding-top: 3rem; */
  padding-top: 8rem !important;
}

.navTwo {
  background-color: #ffffff;;
}

body > nav:nth-child(3) {
  padding-top: 0rem !important;
}

nav {
  padding: 0px 25px !important;
}

.nav-icon span {

  font-size: 20px !important;
  margin-left: 3px !important;
  font-weight: 700 !important;
  color: #000000 !important;
}

.sign-btns {
  margin: 0px;
}

.cadreSearch{
  border: 2px solid blue; 
  border-radius: 8px;
}

body > nav:nth-child(3) {
  /* top: 5rem !important; */
  top: 5.2rem !important;
}


.navTwo {
  z-index: 1000;
}


/* Styles pour le bouton d'inscription */
.signup-btn {
  --primary-color: #0745ad;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: .1em .3em;
  background: var(--primary-color);
  display: inline-flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}



.signup-btn .signup-arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-btn .signup-arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.signup-btn .signup-arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.signup-btn:hover {
  background-color: var(--hover-color);
}

.signup-btn:hover .signup-arrow {
  background: var(--secondary-color);
}

.signup-btn:hover .signup-arrow::before {
  right: 0;
}





/* From Uiverse.io by mobinkakei */ 
.bouncing-balls-container {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
  left: 42%;
}



.bouncing-ball {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #6c63ff !important;
  left: 15%;
  transform-origin: 50%;
  animation: bounce-animation .5s alternate infinite ease;
}

@keyframes bounce-animation {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.bouncing-ball:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.bouncing-ball:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.bouncing-ball-shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow-animation .5s alternate infinite ease;
}

@keyframes shadow-animation {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.bouncing-ball-shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.bouncing-ball-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.addproduct{
  display: flex;
  justify-content: end;
  text-align: end;
}

/* From Uiverse.io by mrhyddenn */ 
.uiverse {
  position: relative;
  background: #ffffff;
  color: #000;
  padding: 15px;
  /* margin: 10px; */
  border-radius: 10px;
  width: 80%;
  font-weight: 700;
  height: 50px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -123px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
  background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
  color: #ffffff;
}