/* From Uiverse.io by Smit-Prajapati */ 
.fiche-carte {
    position: relative;
    width: 200px;
    height: 200px;
    background: lightgrey;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease-in-out;
  }
  
  .fiche-fond {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 100% 107%, #ff89cc 0%, #9cb8ec 30%, #00ffee 60%, #62c2fe 100%);
    background: white;
    overflow: hidden; /* Assure que l'image ne dépasse pas le cadre */
  }
  .fiche-fond img {
 

    width: 100%; /* L'image occupe toute la largeur du cadre */
    height: 100%; /* L'image occupe toute la hauteur du cadre */
    object-fit: cover; /* Remplit le cadre sans déformation */
    object-position: center; /* Centre l'image dans le cadre */
  }
  
  .fiche-logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    transition: all 0.6s ease-in-out;
  }
  
  .fiche-icone {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-weight: 600;
  }
  
  .fiche-icone .fiche-svg {
    fill: rgba(255, 255, 255, 0.797);
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  
  .fiche-boite {
    position: absolute;
    padding: 10px;
    text-align: start;
    background: rgba(255, 255, 255, 0.801);
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 1px solid white;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
  }
  
  .fiche-boite::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .fiche-boite:hover .fiche-svg {
    fill: rgb(253, 253, 253) !important;

  }
  .fiche-boite:hover .fiche-text {
    color: rgb(0, 0, 0) !important;
    z-index: 1000 !important;
  }
  
  .fiche-boite1 {
    width: 70%;
    height: 70%;
    bottom: -70%;
    left: -70%;
  }
  
  .fiche-boite1::before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #6c63ff 5%, #00b4fe 60%, #62c2fe 90%) !important;  
  }
  
  .fiche-boite1:hover::before {
    opacity: 1;
  }
  
  .fiche-boite1:hover .fiche-icone .fiche-svg , .fiche-boite1:hover .fiche-icone .fiche-text{
    filter: drop-shadow(0 0 5px white);
  }

  
  .fiche-boite2 {
    width: 50%;
    height: 50%;
    bottom: -50%;
    left: -50%;
    transition-delay: 0.2s;
  }
  
  .fiche-boite2::before {
    background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
  }
  
  .fiche-boite2:hover::before {
    opacity: 1;
  }
  
  .fiche-boite2:hover .fiche-icone {
    filter: drop-shadow(0 0 5px white);
  }
  
  .fiche-boite3 {
    width: 30%;
    height: 30%;
    bottom: -30%;
    left: -30%;
    transition-delay: 0.4s;
  }
  
  .fiche-boite3::before {
    background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
  }
  
  .fiche-boite3:hover::before {
    opacity: 1;
  }
  
  .fiche-boite3:hover .fiche-icone .fiche-svg {
    filter: drop-shadow(0 0 5px white);
  }
  
  .fiche-boite4 {
    width: 10%;
    height: 10%;
    bottom: -10%;
    left: -10%;
    transition-delay: 0.6s;
  }
  
  .fiche-carte:hover {
    transform: scale(1.1);
  }
  
  .fiche-carte:hover .fiche-boite {
    bottom: -1px;
    left: -1px;
  }
  
  .fiche-carte:hover .fiche-logo {
    transform: translate(0, 0);
    bottom: 20px;
    right: 20px;
  }
  