.personalized-text-field {
    color: #6c63ff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .personalized-border-line {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .personalized-text-field:focus {
    outline: none;
  }
  
  .personalized-text-field:focus + .personalized-border-line {
    width: 100%;
  }
  
  .personalized-form-container {
    position: relative;
    --width-of-input: 300px;
  }
  
  .personalized-text-field-highlight {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .personalized-border-line-highlight {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
  }
  
  .personalized-text-field-highlight:focus + .personalized-border-line-highlight {
    width: 100%;
  }
  

  .items-center {
    display: flex;
    flex-direction: column; /* Arrange les éléments verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    height: 70vh; /* Adapte la hauteur à la taille de la fenêtre */
    text-align: center; /* Centre le texte dans le paragraphe */
}

.items-center img {
    max-width: 100%; /* S'assure que l'image ne déborde pas */
    height: auto; /* Maintient les proportions de l'image */
    margin-bottom: 1rem; /* Espace entre l'image et le texte */
    width: 40%;
}
.items-center p{
    font-weight: 300;
    color:black;
}

