@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

.fontStyle{
    font-family: "Playwrite GB S", cursive !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    text-transform: none !important;

}
.custom-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(22,75,184);
    background: -moz-linear-gradient(0deg, rgba(22,75,184,0.4766107126444328) 0%, rgba(0,179,254,0.19089642693014708) 100%);
    background: -webkit-linear-gradient(0deg, rgba(22,75,184,0.4766107126444328) 0%, rgba(0,179,254,0.19089642693014708) 100%);
    background: linear-gradient(0deg, rgba(22,75,184,0.4766107126444328) 0%, rgba(0,179,254,0.19089642693014708) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#164bb8",endColorstr="#00b3fe",GradientType=1);  
}

.custom-form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.custom-contact-form {
    background-color: #04a0f1;
    position: relative;
}

.custom-circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #1649b7);
    position: absolute;
}

.custom-circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.custom-circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.custom-contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #04a0f1;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

.custom-contact-form form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.custom-title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.custom-input-container {
    position: relative;
    margin: 1rem 0;
}

.custom-input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.custom-input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.custom-input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.custom-input-container.custom-textarea label {
    top: 1rem;
    transform: translateY(0);
}

.custom-btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.custom-btn:hover {
    background-color: transparent;
    color: #fff;
}

.custom-input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.custom-input-container span:before,
.custom-input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #059cef;
    top: 50%;
    transform: translateY(-50%);
}

.custom-input-container span:before {
    left: 50%;
}

.custom-input-container span:after {
    right: 50%;
}

.custom-input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.custom-input-container.focus span:before,
.custom-input-container.focus span:after {
    width: 50%;
    opacity: 1;
}

.custom-contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
}

.custom-contact-info .custom-title {
    color: #1abc9c;
}

.custom-text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
}

.custom-information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}

.custom-icon {
    width: 42px;
    margin-right: 0.7rem;
    margin-bottom: 0.9rem;
}

.custom-social-media {
    padding: 2rem 0 0 0;
}

.custom-social-media p {
    color: #333;
}

.custom-social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.custom-social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #1abc9c, #149279);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.custom-social-icons a:hover {
    transform: scale(1.05);
}

.custom-contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #059cef;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}

.custom-big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    bottom: 50%;
    background: linear-gradient(to bottom, #04a1f2, #1840b1);
    right: 50%;
    transform: translate(-40%, 38%);
}

.custom-big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}

.custom-square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
}

@media (max-width: 850px) {
    .custom-form {
        grid-template-columns: 1fr;
    }

    .custom-contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }

    .custom-contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
    }

    .custom-square {
        transform: translate(140%, 43%);
        height: 350px;
    }

    .custom-big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
    }

    .custom-text {
        margin: 1rem 0 1.5rem 0;
    }

    .custom-social-media {
        padding: 1.5rem 0 0 0;
    }
}

@media (max-width: 480px) {
    .custom-container {
        padding: 1.5rem;
    }

    .custom-contact-info:before {
        display: none;
    }

    .custom-square,
    .custom-big-circle {
        display: none;
    }

    form,
    .custom-contact-info {
        padding: 1.7rem 1.6rem;
    }

    .custom-text,
    .custom-information,
    .custom-social-media p {
        font-size: 0.8rem;
    }

    .custom-title {
        font-size: 1.15rem;
    }

    .custom-social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .custom-icon {
        width: 23px;
    }

    .custom-input {
        padding: 0.45rem 1.2rem;
    }

    .custom-btn {
        padding: 0.45rem 1.2rem;
    }
}



/* app.css | http://127.0.0.1:8000/build/app.css */

.custom-contact-info .custom-title {
    /* color: #1abc9c; */
    color: #059bee;
  }
  
  .custom-social-icons a {
    /* background: linear-gradient(45deg, #1abc9c, #149279); */
    background: linear-gradient(45deg, #059bee, #1745b4);
  }
  
  .custom-btn {
    /* color: #1abc9c; */
    color: #059bee !important;
  }
  



.custom-contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-contact-list li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s;
}

.custom-contact-list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #0056b3;
}
