.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.btn-success{
    --bs-btn-color: #fff;
--bs-btn-bg: #6c63ff;
--bs-btn-border-color: #6c63ff;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #5a54d8;
--bs-btn-hover-border-color: #554ecd;
--bs-btn-focus-shadow-rgb: 108, 99, 255; /* RGB equivalent of #6c63ff */
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #554ecd;
--bs-btn-active-border-color: #5047c1;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #fff;
--bs-btn-disabled-bg: #6c63ff;
--bs-btn-disabled-border-color: #6c63ff;

}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.speed-menu a {
    color: #fff;
    text-decoration: none;
}

/* .speed-menu a {
    margin-right: 20px;
} */

.bg-light-blue {
    background-color: #f4f7ff;
}



.small-container {
    max-width: 800px;
    margin: 0 auto;
}

.wishlist-icon svg {
    background-color: lightgrey;
    color: black;
    padding: 9px;
    border-radius: 50%;
    height: 39px;
    width: 39px;
}

.wishlist-icon-active svg {
    background-color: #ceeddf;
    color: #0b6b3e;
}

.small-bloc {
    width: 700px;
    margin: 0 auto;
    background-color:#fafafa;
    padding:20px;
}