
@media (max-width: 768px) {
  .search-bar-container {
    width: 100% !important;
  }
  .ui-input-icon {
    left: 12px ;
  }
  .navbar-nav {
    display: none; /* Cache complètement le bloc */
  }

.navbar-brand > img:nth-child(1) {
  width: 9rem !important;
}

.navbar-brand {
  margin-left: -5%;
}
.speed-menu {
  justify-content: right;
  padding-bottom: 1rem;
}

.nav-icon {
  font-weight: 100;
  font-size: 11px !important;
  margin-left: 0%;
}

.hamburger {
  display: none;
}

.nav-icon span {
  font-size: 14px !important;
  font-weight: 300;
}

.nav-icon span {
margin-left: 5px;
}

body > nav:nth-child(3) {
  position: fixed;
  top: 4.2rem !important;
  padding: 0.3rem !important;
}

body {
  padding-top: 9rem;
}


.carousel-item{
    background-size: contain !important;   /* Ajuste l'image pour couvrir le conteneur */
    height: 10em !important;
}

.carousel-caption {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.carousel-caption h1 {
  font-size: 1.2rem;
}

.carousel-caption p {
  font-size: 0.9rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
}

.fiche-carte {
  width: 130px;
  height: 130px;
}



.brand-section-heading {
  font-size: 18px;
}

.brand-section-description {

  color: #453d3d;
  font-size: 14px;
  font-weight: 500;
  text-justify: auto;
}
.carousel {
  margin-bottom: 1rem;
}


div.offcanvas-body:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
}

*{
  font-size: 14px;

}


.container-out {
  padding: 0px 0px 0px;
}

.button-gamme {
  padding: 5px 5px;
  font-size: 14px;
}



div.container-out:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h3:nth-child(1) {
  font-size: 16px;
}


/* Élément | http://127.0.0.1:8000/ */

  .cardPalette {
    border: 1px solid blue !important;
    border-radius: 3px;
    padding: 1px;
  }

  div.container-out:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h3:nth-child(1) {
    font-size: 16px;
  }

  #positionImgBrand{
    position: absolute;
    border-radius: 50%;
    right: 79%;
    width: 16%;
    top: 0;
  }


/* Élément | http://127.0.0.1:8000/Categorie/Plaque-test-Gobelet-R%C3%A8gles-Filtre-cones */

div.col-md-3:nth-child(1) {
   margin-top: 0px !important; 
}

#addpanier {
  /* font-size: 21px; */
  font-size: 16px !important;
}
svg{
  width: 20px !important;
  height: 20px !important;
}

div.bg-light {
  margin-top: 5%;
}

.nonAffiche{
  display:none;
}
.content_price .price.product-price{
  font-size: 20px !important;
}


}

@media (max-width: 480px) {
  .ui-input-icon {
    left: 34px !important;  }
}