/* Styles spécifiques aux appareils mobiles */
@media (max-width: 768px) {
    /* Centrage et espacement pour éléments avec .mx-auto */
    .mx-auto {
        margin-bottom: 2rem;
    }

    /* Adaptation de la largeur pour les éléments avec .ui-input */
    .ui-input {
        width: 100%;
    }
}



  