.navbar-brand > img:nth-child(1) {
    width: 250px;
  }

  .dropmenuPerso{
    background: rgb(5,5,5);
    background: linear-gradient(90deg,rgba(5, 5, 5, 0.82),rgba(26, 35, 69, 0.79) 15%,rgba(191,4,38,.486));
    border-radius: 0px !important;
    box-shadow: #212121;
    }

    .titre-persoNav{
      
        font-weight: 600 ; /* Bold weight similar to the image */
        line-height: 1; /* Adjust line height for spacing */
        color: #483333; /* Dark navy color similar to the image */
        font-style: normal ; /* Normal font style */
        word-break: break-word ; /* Ensures words break appropriately */
      }

    #categorybg{
        color: #00a8ff !important;
    }

    

.navbar-nav .nav-item .navbar-brand:hover {
    color: #005bff; /* Changement de couleur au survol */
}

.navbar-dark .navbar-toggler {
    background-color: white !important;
}

.dropdown-menu {
    background-color: #f8f9fa; /* Couleur de fond des menus déroulants */
    border: none;
    padding: 20px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Légère ombre pour la profondeur */
}
/* 
.dropdown-menu .list-group-item-action {
    color: #004aad;
}

.dropdown-menu .list-group-item-action:hover {
    background-color: #004aad;
    color: white;
}

#categoryBg {
    padding: 10px 0px;
    padding-top: 2rem;
}

#fontScategory {
    font-size: 16px;
    background-color: #005bff !important;
}

#colorScategory a {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

#colorScategory a:hover {
    background-color: #005bff;
    color: white;
}

.nav-item.dropdown.show .dropdown-menu {
    display: block;
    margin-top: 0;
}

.newDropLi {
    padding: 0;
}

.newDropLi > li {
    margin-right: 30px;
  
} */

/* Media Queries pour l'adaptabilité */
@media (max-width: 992px) {
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .dropdown-menu {
        position: static;
        width: auto;
    }

    .dropdown-menu .list-group-item-action {
        padding: 15px;
    }
}

/* Styles pour le menu déroulant */
.dropdown-menu {
    background-color: #f8f9fa; /* Couleur de fond des menus déroulants */
    border: none;
    padding: 20px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Légère ombre pour la profondeur */
    position: absolute;
    left: 50%; /* Place le menu à 50% de la largeur de la page */
    transform: translateX(-50%); /* Centrer le menu en utilisant translate */
    width: auto;
    min-width: 80%; /* Largeur minimum de 80% de l'écran */
    max-width: 90%; /* Limite maximale de la largeur à 90% */
    z-index: 1000;
}

/* Centrer le contenu interne des sous-catégories */
.dropdown-menu .container {
    display: flex !important;
    justify-content: flex-start !important;
}


/* Style des items de sous-catégories */
.dropdown-menu .list-group-item-action {
    color: #004aad;
    text-align: center; /* Centre le texte des sous-catégories */
}

.dropdown-menu .list-group-item-action:hover {
    background-color: #004aad;
    color: white;
}

/* Autres styles inchangés */
/* #colorScategory a {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    background-color: #ffffff;
    color:white;
}

#colorScategory a:hover {
    background-color: #0059ff52;
    color: rgb(19, 18, 18) !important;
    transition: ease-out;
}


  
.liste-group-update{
    background-color: white !important;
}
#colorSScategory{
    color: black !important;
}
#colorSScategory:hover {
    color:#ffffff;
}

.mx-auto > div:nth-child(1) {
    padding-right: 15em !important;
    } */

/* -------------------------------------------------------- */
div.col-md-3:nth-child(1) > div:nth-child(1) > a:nth-child(1) > img:nth-child(1) {
    max-width: 300px;
  }
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #fafafa;
  z-index: 10 ;
}
.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family: Roboto Flex, sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #333;
}

.nav-icon img {
  width: 40px;
  transform: rotate(-17deg) translateX(5px);
}

.hamburger {
  display: none;
}

.navlinks-container a {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #414141;
  position: relative;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transform-origin: left;
  background: #333;
  transition: transform 0.3s ease-out;
}
/* .navlinks-container a:hover::after {
  transform: scaleX(1);
} */

.nav-authentication {
  margin-left: auto;
}

.sign-btns button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  min-width: 53px;
  padding: 5px 5px;
  border-radius: 173px;
  font-weight: 700;
  margin: 2px;
}

.sign-btns button:nth-child(2) {
  border: none;
  background: rgba(146, 195, 238, 0.718);
}
.user-toggler {
  display: none;
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  /* nav */
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }
  .main-navlinks {
    order: 1;
    width: auto;
  }

  /* hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #fafafa;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #fafafa;
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
  }
  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0px;
  }


  .nav-authentication {
    order: 3;
    margin-left: 0;
  }
  .sign-btns {
    display: none;
  }

  .user-toggler {
    display: block;
    cursor: pointer;
    border: none;
  }

  .user-toggler img {
    width: 20px;
  }
}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }
  .nav-icon span {
    font-size: 20px;
  }
}
