h3.page-product-heading, .page-product-heading{
    font-size: 18px;
  color: #6c63ff;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  }
  h3.page-product-heading span.page-heading-text, .page-product-heading span.page-heading-text{
    display: inline-block;
  background: #f3f3f3;
  padding: 6px 30px;

  }

  .page-product-box{
    padding-bottom: 10px;
  }

  ul.product_list{
    padding: 0;
  list-style: none;
  } 

  ul.product_list.grid > li{
    padding-bottom: 15px;
  text-align: center;
  }

  ul.product_list.grid > li .product-container{
    background: #fff;
  padding: 0;
  position: relative;
  }
  #short_description_content a, .page-product-box a{
    color: #333333;
  }
  ul.product_list.grid > li .product-container .product-image-container{
    margin-bottom: 7px;
  position: relative;
  }

  ul.product_list .product-image-container{
    text-align: center;
  }

  .img-responsive{
    display: block;
  max-width: 100%;
  height: auto;
  }

  ul.product_list .product-image-container img{
    margin: 0 auto;
  }

.ribbon {
  position: absolute;
  left: 0;
  top: 0;
}
ul.product_list.grid > li .product-name {
  font-weight: 501;
  text-transform: uppercase;
  line-height: 1.2;
  overflow: hidden;
  margin: 0;
  color: #212121;
  transition: all 0.3s ease;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #636363;
}

ul.product_list.grid > li .product-container .content_price {
  border-top: 1px solid #eaeaea;
  padding-top: 9px;
}
ul.product_list.grid > li .product-container .content_price .price.product-price {
  display: block;
  font-size: 20px;
  color: #6c63ff;
  font-weight: 700;
  line-height: 1.3;
  padding-top: 8px;
}

.product_img_link {
  width: 100%; /* Ensure the container takes full width */
  max-width: 200px; /* Adjust this value to your desired maximum width */
  text-align: center; /* Center align content */
  overflow: hidden; /* Hide overflow if image exceeds container */
  position: relative;
}
.icon-product-item{
  position: absolute;
  top:0;
  left: 0;
}

.image-container {
  width: 100%; /* Ensure image container takes full width */
  height: auto; /* Allow height to adjust based on image */
  max-width: 100%; /* Ensure image doesn't exceed container width */
}

.image-container img {
  display: block;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 992px) {
  .first-in-line {
    clear: both;
  }
  
}

@media (max-width: 767px) {
  .first-item-of-mobile-line {
    clear: both;
  }
  .col-xs-6 {
    width: 50%;
  }
}


.breadcrumb {
    background-color: transparent; /* Fond transparent */
    padding: 10px 0; /* Espacement vertical */
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '>'; /* Séparateur personnalisé */
    color: #6c63ff; /* Couleur du séparateur */
}

.breadcrumb-item a {
    color: #6c63ff; /* Couleur des liens */
    text-decoration: none; /* Pas de soulignement */
}

.breadcrumb-item a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

.breadcrumb-item.active {
    color: #6c63ff; /* Couleur de l'élément actif */
    font-weight: bold; /* Mettre en gras l'élément actif */
}
