{% extends 'base.html.twig' %}
{% block title %}Modifier mot de passe{% endblock %}

{% block body %}

    <div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <h5 class="order-titre">Modification de mon mot de passe</h5>
                {{ form(modifyPwd) }}
            </div>
        </div>

    </div>

{% endblock %}
