<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{app.user.magasinName}}{% endblock %}</title>
        <meta name="description" content="Peinture Auto Expert Pour les Pro">
        <link rel="icon" href="{{ asset('assets/img/footerLogo.png') }}">
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        {# Link for Icon google #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" /> 
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />     
         {# Link swiper  #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700;8..144,900&display=swap" rel="stylesheet"/>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
        {% block head %}{% endblock %}
    </head>

    <body>
       <!-- Full screen modal -->
       {% include "./compoments/full_screen.html.twig" %}
    <header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navBackground">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src={{asset('/assets/img/logo4.png')}} style=" width: 11rem;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            {# <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" color="black" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><circle cx="17" cy="7" r="3"/><circle cx="7" cy="17" r="3"/><path d="M14 14h6v5a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zM4 4h6v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1z"/></g></svg>             #}
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"  color="black" viewBox="0 0 24 24"><path fill="currentColor" d="M14.116 20q-.667 0-1.141-.475t-.475-1.14v-4.27q0-.666.475-1.14t1.14-.475h4.27q.666 0 1.14.475t.475 1.14v4.27q0 .666-.475 1.14t-1.14.475zm0-8.5q-.667 0-1.141-.475t-.475-1.14v-4.27q0-.666.475-1.14T14.115 4h4.27q.666 0 1.14.475T20 5.615v4.27q0 .666-.475 1.14t-1.14.475zm-8.5 0q-.667 0-1.141-.475T4 9.885v-4.27q0-.666.475-1.14T5.615 4h4.27q.666 0 1.14.475t.475 1.14v4.27q0 .666-.475 1.14t-1.14.475zm0 8.5q-.667 0-1.141-.475T4 18.386v-4.27q0-.666.475-1.14t1.14-.475h4.27q.666 0 1.14.475t.475 1.14v4.27q0 .666-.475 1.14T9.885 20z"/></svg>            </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mb-2 mb-md-0">
                <li class="nav-item">
                        {% if not is_granted('ROLE_MANAGER') %} <a class="nav-link active" aria-current="page" href="{{path('app_contact')}}" style="font-weight: 700;">Contact</a> {% endif %}
                </li>
            </ul>
                <div class="search-bar-container mx-auto">
                {% include './compoments/searchBar.html.twig' %}
                </div>
            <div class="speed-menu d-flex align-items-center">
                {% if app.user %}
                    <a href="{{ path('app_account') }}" style="color:white">
                        <img src={{asset('assets/img/user.png')}} class="cart-icon img-fluid" style="width:2rem;" alt="{{ app.user.magasinName }}">{{ app.user.magasinName }}
                    </a>
                    <a href="{{ path('app_account_wishlist') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left:17px;" width="2em" height="2em" viewBox="0 0 24 24">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2c-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
                        </svg>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}">
                        <img src={{asset('assets/img/user.png')}} class="cart-icon img-fluid" style="width:2rem;">
                    </a>
                {% endif %}
                {% if not is_granted('ROLE_MANAGER') %}
                <a href="{{ path('app_cart') }}">
                    <img src={{asset('assets/img/panier.png')}} class="cart-icon img-fluid" style="width:2rem; margin-left:17px;">
                    <span class="badge text-bg-light">{{ fullCartQuantity }}</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

    {# BLOCK MENU CATEGORY #}
    {# {% include './designeFull/_category.html.twig' %} #}
    {# END BLOCK CATEGORY #}
</header>
    {% include './designeFull/_testcategory.html.twig' %}
 
{% include './compoments/_rechercher_bar.html.twig'%}
    {# Notification #}
    <main>
        <div class="container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert mt-4 alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </main>
            {% block body %}{% endblock %}
      {# <footer class="container">
            <p class="float-end"><a href="#">Back to top</a></p>
            <p>&copy; 2023–2024 Company PAE, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer> #}
        {% include 'compoments/_footer.html.twig' %}
        {% block script %}{% endblock %}
    </body>
</html>
