
<div{{attributes}}>
    {{form_start(form)}}
        {{form_row(form.category)}}
            {% if form.name is defined %}
                {{form_row(form.name)}}
            {% endif %}
        {# {{form_row(form.qte)}} #}
    {{form_end(form)}}
</div>