{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Récapitulatif de ma commande</h1>

        <div class="row">

            <div class="col-md-8">

                <div class="bg-light p-3">
                    <strong>Contenu de mon panier</strong><br/>
                    {% for product in cart %}
                        <div class="row mt-2">
                            <div class="col-md-2">
                                <img src="/uploads/{{ product.produit.illustration }}" class="img-fluid" id="bg-recap" alt="{{ product.produit.name }}">
                            </div>
                            <div class="col-md-6">
                                <strong>{{ product.produit.name }}</strong>
								<span class="d-block small">Prix unitaire : {{ cartData.calculatePriceForCartItem(product) is not null and cartData.calculatePriceForCartItem(product) > 0 ? cartData.calculatePriceForCartItem(product) : product.produit.priceU|price }}</span>
                            </div>
                            <div class="col-md-2 text-right">
                                <span class="badge text-bg-secondary">x{{ product.qte }}</span>
                            </div>
                            <div class="col-md-2">
                                <strong>{{ (product.qte * (cartData.calculatePriceForCartItem(product) is not null and cartData.calculatePriceForCartItem(product) > 0 ? cartData.calculatePriceForCartItem(product) : product.produit.priceU))|price }} HT</strong>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="bg-light p-3 my-3">
                    <strong>Votre adresse de livraison :</strong><br/>
                    {{ choices.addresses.firstname }} {{ choices.addresses.lastname }}<br/>
                    {{ choices.addresses.address }}<br/>
                    {{ choices.addresses.city }} - {{ choices.addresses.country }}
                </div>

                <div class="bg-light p-3">
                    <strong>Votre transporteur :</strong><br/>
                    {{ choices.carriers.name }}<br/>
                    {{ choices.carriers.description }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="bg-light p-3">
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold">Total produit</span>
                        <span>{{ fullCartQuantity }}</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <span class="fw-bold">Total transporteur H.T</span>
                        <span>{{ choices.carriers.price|price }}</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <span class="fw-bold">Total commande H.T</span>
                        <span>{{ (totalWt + choices.carriers.price)|price }}</span>
                    </div>

                    {% set  tva = ((totalWt + choices.carriers.price) * 1.20)-(totalWt + choices.carriers.price) %}
                    <div class="d-flex justify-content-between mt-3">
                        <span class="fw-bold">TVA (20%)</span>
                        <span>{{ tva|price }}</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <span class="fw-bold">Total commande T.T.C</span>
                        <span>{{ ((totalWt + choices.carriers.price) * 1.20)|price }}<sup> <b>TTC</b></sup></span>
                    </div>
                    {# <div>
                        <a href="{{ path('app_payment', { 'id_order' : order.id }) }}" class="btn btn-success w-100 mt-3">Payer <span>{{ ((totalWt + choices.carriers.price) * 1.20)|price }} <b>TTC</b></span> </a>
                    </div> #}

                     <div>
                        <a href="{{ path('app_pay_link', { 'orderId' : order.id }) }}" data-turbo="false" class="btn btn-success w-100 mt-3"> Payez maintenant par virement bancaire <span>{{ ((totalWt + choices.carriers.price) * 1.20)|price }} <b>TTC</b></span> </a>
                    </div>

                    {# {% if verify == false %}  #}
                        <div class="text-center my-1"> <!-- Conteneur avec centrage du texte et marges verticales -->
                            <span><b>Ou<b></span>
                        </div>
                      <div>
                            <a href="{{ path('app_confirmation', {orderId: order.id}) }}" 
                            class="btn btn-success w-100 mt-1" data-turbo="false"
                          >
                           Payez plus tard
                            </a>
                    </div>
                      {# {% endif %} #}
                </div>
            </div>

        </div>

    </div>

{% endblock %}
