{% extends 'base.html.twig' %}

{% block title %}Nos Catalogues{% endblock %}

{% block body %}
 <div class="container my-5">
        <h1>Les catalogues de {{brand.name}} 2024</h1>

        {# Fil d'Ariane #}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <nav style="--bs-breadcrumb-divider: '>'; background:none;" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_home') }}">Catalogue</a>
                        </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_brand', {'brand': brand}) }}">
                                    {{ brand.name }}
                                </a>
                            </li>
                       
                        {# <li class="breadcrumb-item active" aria-current="page">{{ Parent.name }}</li> #}
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 bloc-fix" style="margin-top: 49px;">
                <div class="block-fixe">
                    {% include './compoments/_listeCatalogue.html.twig' %}
                </div>
            </div>

            <div class="center_column col-xs-12 col-sm-9 col-sm-push-3" id="center_column">
              
                
                {# Affiche les produits correspondants à la catégorie parent #}
            <div class="d-flex justify-content-between align-items-center block-fixe mt-2">
                <small>
                    <!-- Bouton de gauche -->
                    <a href="#" class="btn btn-light btn-sm" id="bouton-gauche" style="width:51em;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 1024 1024">
                            <path fill="currentColor" fill-rule="evenodd" d="M464 144c8.837 0 16 7.163 16 16v304c0 8.836-7.163 16-16 16H160c-8.837 0-16-7.164-16-16V160c0-8.837 7.163-16 16-16zm-52 68H212v200h200zm493.333 87.686c6.248 6.248 6.248 16.379 0 22.627l-181.02 181.02c-6.248 6.248-16.378 6.248-22.627 0l-181.019-181.02c-6.248-6.248-6.248-16.379 0-22.627l181.02-181.02c6.248-6.248 16.378-6.248 22.627 0zm-84.853 11.313L713 203.52L605.52 311L713 418.48zM464 544c8.837 0 16 7.164 16 16v304c0 8.837-7.163 16-16 16H160c-8.837 0-16-7.163-16-16V560c0-8.836 7.163-16 16-16zm-52 68H212v200h200zm452-68c8.837 0 16 7.164 16 16v304c0 8.837-7.163 16-16 16H560c-8.837 0-16-7.163-16-16V560c0-8.836 7.163-16 16-16zm-52 68H612v200h200z"/>
                        </svg> 
                        Catalogues {{ brand.name}}
                    </a>
                </small>

                <small>
                    <!-- Bouton de droite -->
                    <a href="{{path('app_temporary_order')}}" class="btn btn-light btn-sm" id="bouton-droite" style="background:#1839ac; color:white;">
                       <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M2 24v-4h20v4zm4-8h1.4l7.8-7.775l-.725-.725l-.7-.7L6 14.6zm-2 2v-4.25L15.2 2.575q.275-.275.638-.425T16.6 2t.775.15t.675.45L19.425 4q.3.275.438.65t.137.775q0 .375-.137.738t-.438.662L8.25 18zM18 5.4L16.6 4zm-2.8 2.825l-.725-.725l-.7-.7z"/></svg> Commander par catalogue
                    </a>
                </small>
            </div>
            {# Liste des produits #}
                 <div class="catalog-container mt-2">
                    <ul class="catalog-list">
                        {% for catalogue in catalogues %}
                        <li class="catalog-item">
                            <div class="catalog-card">
                                <div class="catalog-card-body">
                                    <h5 class="catalog-title">{{ catalogue.name }}</h5>
                                    <img src="/uploads/{{catalogue.illustration}}" style="width: 50%;">
                                    <a href="{{catalogue.url}}" target="_blank" class="catalog-btn" style="background:#1839ac;">Voir le catalogue</a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>    
            </div>
        </div>
    </div>
{% endblock %}
